[2015-03-28 07:12] hvr opened #1 "Add support for `integer-gmp-1.0.0`"
see also #3

[2015-03-28 13:47] mietek opened #2 "Segmentation fault with primeList and primeSieve"
Reported by @treeowl ([dafis/arithmoi#16](https://bitbucket.org/dafis/arithmoi/issue/16/segmentation-fault-with-primelist-and)).

To reproduce:

[code]
[code]
[code]

@treeowl adds:

[2015-03-28 14:25] treeowl commented on #2
FYI, specializing the `NumberSieves` code to `Word` (to unbox the heap) and such improves performance a good bit. I think it can be improved further using a vector-based heap implementation, but the details are a bit tricky.

[2015-03-28 14:47] cartazio commented on #2
1) can you, david or mietak, do a PR starting  a test suite using hspec
with this as the first test? I was dreading the lack of tests, now we
know!  Probably the first big task is getting some decent unit test
coverage

2) I'll look at this more after im lucid,
On Mar 28, 2015 10:25 AM, "David Feuer" <notifications@github.com> wrote:

[2015-03-28 15:04] treeowl commented on #2
I don't know if I'll have time for that soon. One problem is that the test does not *always* go boom. The correct solution to that is to make the test build use only checked vector operations. This should come closer to guaranteeing that a bad index will make the test fail, and fail in a somewhat less horrifying way.

[2015-03-28 15:18] cartazio commented on #2
Gotcha.  I'll get on it
On Mar 28, 2015 11:04 AM, "David Feuer" <notifications@github.com> wrote:

[2015-04-12 09:28] snoyberg commented on #1
Bump, I need this for Stackage 7.10 support.

[2015-04-17 15:34] peti commented on #1
We also needs these fixes for 7.10.x support in NixOS. The build currently fails as follows: http://hydra.cryp.to/build/740025/log/raw.

[2015-04-17 15:46] hvr commented on #1
@peti strange, you shouldn't see that failure at all as the version bounds prohibit any install-plan for `arithmoi` involving `integer-gmp>=1` (at least I believe made sure of it by editing `.cabal` files)

[2015-04-17 16:16] peti commented on #1
@hvr, you are right. We happily ignored those restrictions in our build, i.e. we compile with the NixOS equivalent of `--allow-newer`.

[2015-05-19 09:49] peti commented on #1
Will this issue be fixed? Or is this package unmaintained?

[2015-05-19 12:21] cartazio commented on #1
I've been buried with moving into a new apartment this month.  Will be getting to this and other PRs soon.  Aiming for this weekend.

[2015-05-19 12:37] cartazio commented on #1
I welcome folks to help me finish moving apartments faster, but that's a
bit trickier than PRs ;)

On Tuesday, May 19, 2015, Peter Simons <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-05-29 18:46] michaelt commented on #1
I'm not sure I follow everything, but fwiw, I built cyclotomic with Shea Levy's #3  branch using both ghc-7.10.1 and ghc-7.8.3 and nothing seems wrong so far.

[2015-05-29 19:06] cartazio commented on #1
good to hear!
i'll be catching up on things and evaluating all the PRs soon. I've been
busy with moving this month and i'm still catching up on a huge stack of
OSS patches to merge and send out

On Fri, May 29, 2015 at 2:46 PM, Michael Thompson <notifications@github.com>
wrote:

[2015-05-29 22:22] michaelt commented on #1
Sorry for the noise; that was nonsense. I just tested package as it comes with 'cabal install'; I compiled with with -fllvm but only just now tested it, with catastrophic results.

[2015-06-05 10:22] CarlEdman opened #7 "sieveFactor (factorSieve 2048) (29*73) == [(2117,1)]"
This may just be a documentation bug or perhaps I am misreading this:

I understood this to mean that the FactorSieve is used to speed up the factorisation, but if an occasional argument to (sieveFactor fs) is higher than the argument to factorSieve, the results would still be correct (if less sped-up by the sieve).

However, this appears not to be the case.  For example with arithmoi 0.4.1.2 on H

[2015-06-09 04:11] #1 closed

[2015-06-17 15:11] crockeea commented on #1
When will this be pushed to hackage?

[2015-06-17 15:57] cartazio commented on #1
probably later today
this week i'm on my first real vacation in a while, but finally have the
time to catchup on stuff :)

On Wed, Jun 17, 2015 at 11:11 AM, crockeea <notifications@github.com> wrote:

[2015-07-02 04:24] cartazio commented on #1
ok, doing a pkg candidate now

[2015-07-02 04:24] cartazio commented on #1
(pardon the delay, had a lot going on the past 1-2 months)

[2015-07-02 04:26] cartazio commented on #1
@crockeea  @hvr @snoyberg
https://hackage.haskell.org/package/arithmoi-0.4.1.3/candidate is the pkg candidate,
could you confirm it works for you before i push to hackage? (travis is green, but wanna make sure its all good :) )

[2015-07-02 15:45] crockeea commented on #1
Worked for me Carter. Thanks for the update.
-Eric (crockeea)

On Wed, Jul 1, 2015 at 9:26 PM, Carter Tazio Schonwald <
notifications@github.com> wrote:

[2015-07-02 22:22] cartazio commented on #1
Should be uploaded and working.  Please confirm.

On Thursday, July 2, 2015, crockeea <notifications@github.com> wrote:

[2015-07-02 22:23] crockeea commented on #1
Looks good to me.

On Thu, Jul 2, 2015 at 3:22 PM, Carter Tazio Schonwald <
notifications@github.com> wrote:

[2015-07-02 22:30] michaelt commented on #1
[(2,5)]

If I build with `-fllvm` but this may be a feature of my setup?

[2015-07-03 02:49] cartazio commented on #1
1) the next major version of arithmoi is going to burn everything with fire
to improve the code quality
2) I'm moderately skeptical that llvm will actually make the code faster
given the total lack of benchmarks.
3) what ghc version and llvm version?

On Thursday, July 2, 2015, Michael Thompson <notifications@github.com>
wrote:

[2015-07-03 14:54] michaelt commented on #1
The Glorious Glasgow Haskell Compilation System, version 7.10.1
        LLVM (http://llvm.org/): LLVM version 3.3

I just mentioned `-fllvm` because it was an issue further up this thread, not because I have any particular hopes for it in this case. It's more than merely possible that my setup is botched anyway.  The standard non-llvm build is working fine, I built cyclotomic with it (this is what

[2015-07-03 16:14] cartazio commented on #1
7.10 and 7.8 only support 3.5 llvm.  Any other llvm with those two ghc
versions will have problems. So your config is broken by construction :)

On Friday, July 3, 2015, Michael Thompson <notifications@github.com> wrote:

[2015-07-03 16:53] michaelt commented on #1
Yes, that was what I was asking above. I am rebuilding.

[2015-07-03 16:58] michaelt commented on #1
Ah, excellent yes, it builds, and simple programs like

     main = print $ factorise 10000000000002

compile with -fllvm and work fine.

[2015-07-03 17:06] michaelt commented on #1
Yes, -fllvm seems insignificant, whether it is applied to arithmoi or to dumb benchmarks, or both or neither.

[2015-11-16 19:48] Bodigrim opened #11 "Stackage"
What about publishing this package on Stackage?

[2015-12-12 12:04] ppetr commented on #11
+1

[2015-12-12 12:09] ppetr opened #13 "Not in scope: type constructor or class ‘Word64’"
I had problems when compiling the package, getting this error for a few files.

- GHC version: 7.10.2
- cabal version:1.22.6.0, cabal library 1.22.4.0
- environment: (stackage-lts-3.17)[http://www.stackage.org/lts-3.17]
- System: 32-bit Debian Linux

The diff below fixed the problem for me, although it's probably not an universal solution:
[code]

----

I also got a bunch of warnings like
[code]
I

[2015-12-12 17:44] cartazio commented on #11
I'm hoping to do a serious overhaul of arithmoi soon, there's a number of
deep design issues and known bugs, but absolutely no test or benchmarking
coverage of the code base.
On Dec 12, 2015 7:04 AM, "Petr Pudlák" <notifications@github.com> wrote:

[2015-12-12 17:46] cartazio commented on #13
Huh, I'll look into it when I get arithmoi to the top of my queue.
Arithmoi as it currently stands has a lot of design debt, and I didn't
quite realize how much till I took over maintainership.
On Dec 12, 2015 7:09 AM, "Petr Pudlák" <notifications@github.com> wrote:

[2015-12-12 18:11] cartazio commented on #11
There's also several known segafualts in really gnarly code that has no
bench marks or testing. So my medium term goal is to de-lower/"de
optimize " a lot of arithmoi code that has micro optimizations but zero
testing or benchmarks

On Saturday, December 12, 2015, Carter Schonwald <carter.schonwald@gmail.com>
wrote:

[2015-12-15 23:23] ppetr commented on #11
Maybe we could make a checklist of untested functions or modules. I'd be
happy to contribute a commit with a test occasionally, for example for
functions that I use.

Dne so 12. 12. 2015 19:11 uživatel Carter Tazio Schonwald <
notifications@github.com> napsal:

[2015-12-16 14:30] cartazio commented on #11
Cool.  I'm hoping to use some vacation time end of the year to catchup on
my OSS backlog.  But yeah, arithmoi needs some serious test coverage work,
and that's gonna take a village.  I do have some serious concerns about how
the internals are designed, but testing work comes first.

On Tuesday, December 15, 2015, Petr Pudlák <notifications@github.com> wrote:

[2015-12-16 19:00] Bodigrim commented on #11
I'll be glad to help with tests and benchmarks. Which parts are most fishy?

[2015-12-16 20:20] cartazio commented on #11
There are no tests at all except for the starting stub I think I pushed a
month or two ago.  I'll check when done with meetings later today

On Wednesday, December 16, 2015, Bodigrim <notifications@github.com> wrote:

[2016-01-03 01:15] Bodigrim commented on #11
IMHO it makes sense to review the purpose of low-level modules first. Many cavernous, difficult to test internals can be removed by switching to integer-gmp-1.0.

E. g., latest integer-gmp already has both gcdInt and gcdWord, so there is no need in Math.NumberTheory.GCD.LowLevel. There are also functions for integer logarithms, which covers Math.NumberTheory.Logarithms. `testPrimeInteger` and its

[2016-01-03 04:44] cartazio commented on #11
depends on the algorithmic foundations

but yes, good point about taking advantage of the new GMP apis

that said, closing this ticket for now because a LOT of testing work needs to happen before arithmoi gets a new release

[2016-01-03 04:44] #11 closed

[2016-01-09 05:34] CarlEdman commented on #7
Under 0.4.1.3 and ghc 7.10.2 still:
[code]
Is this a real bug or am I misunderstanding something?

[2016-01-09 20:54] cartazio commented on #7
I'll have to investigate myself , a lot of arithmoi is buggy / under tested
and has performance engineering that isn't validated with bench marks.

On Saturday, January 9, 2016, CarlEdman <notifications@github.com> wrote:

[2016-01-09 20:55] cartazio commented on #7
If you can do any further sleuthing in the mean time that would be super
appreciated

On Saturday, January 9, 2016, Carter Schonwald <carter.schonwald@gmail.com>
wrote:

[2016-01-11 20:04] CarlEdman commented on #7
Actually, I discovered arithmoi over a year ago and when I benchmarked it against my own code, arithmoi just blew it away.  So since then, I've been using arithmoi for my own number theoretical investigations almost every day and that above bug is the only one I've found so far.

But by chance, I was just thinking about ways to improve arithmoi and, beside contributing a bunch of other standard nu

[2016-01-12 00:59] cartazio commented on #7
Cool! That's good to know, but we should still get benchmarks, especially
to make these performance ideas easier to compare and validate.  And that's
ignoring questions of various asymptotics etc :)

On Monday, January 11, 2016, CarlEdman <notifications@github.com> wrote:

[2016-01-30 17:47] Bodigrim commented on #7
@CarlEdman could you please test the following patch? It fixes issue with `2117`.

[code]

[2016-02-01 21:14] CarlEdman commented on #7
Thanks!  That fixes the issue with my test case.

[2016-02-02 21:35] Bodigrim commented on #7
Alas, we still have no tests of `Math.NumberTheory.Primes`. It would be nice to have any, even not exhaustive ones.

"contributing a bunch of other standard number theoretic functions" (accompanied with tests) would be great.

I am not sure that low-level libraries (and `arithmoi` definitely is low level) should use play with parallelism. Maybe we can put such high-level stuff in a separate packag

[2016-02-02 23:42] CarlEdman commented on #7
Exhaustive tests of the prime functions might not be feasible with finite time and space. :)  That said, throwing together a quickCheck which takes some random numbers, factorises, multiplies, factorises the product, and then tests each of the factors for primality shouldn't be too hard.  Of course, I have not written such a thing.

Ok, going through my personal library and checking for things whi

[2016-02-14 16:01] Bodigrim commented on #7
By "exhaustive" I mean tests which trigger each expression of the source code at least once. This is quite feasible, however difficult.

The performance of parallelism heavily depends on the amount of work for each thread. If tasks are too small, then the paralleled computation could easily be slower than a single-thread one due to overhead on GC and sync.

If we want to factorise a really large n

[2016-02-15 21:22] Bodigrim commented on #11
@ppetr it would be great, if you write tests for functions, which you use. I have almost covered with tests everything else but `Math.NumberTheory.Primes`, but `Primes` still remains a bulwark of bugs.

[2016-02-29 23:22] #2 closed

[2016-02-29 23:24] Bodigrim commented on #7
The issue was fixed in #17.

[2016-02-29 23:24] #7 closed

[2016-03-14 17:03] grandpascorpion opened #21 "Elliptic curve testing (using GMP-ECM's B2 and curve counts)"
Hi,

I noticed that GMP-ECM (and other code bases apparently) uses different B2 and curve count values:
http://www.mersennewiki.org/index.php/Elliptic_Curve_Method

Given it's GMP-ECM, I would assume these figures are the best known.

(The B2 and curve counts are the 3rd and 4th members of each tuplet in testParms list in Math/NumberTheory/Primes/Factorisation/Montgomery.hs)

The arithmoi code has

[2016-03-14 18:28] grandpascorpion opened #22 "millerRabinV performance enhancement?"
millerRabinV : This routine in Math/NumberTheory/Primes/Testing/Probabilistic.hs
seems quite inefficient.  According to the comments in the code, verifying a prime is actually "prime" with this routine would require testing 196 bases (primes through 1200).

In the last few years, there has been a project: https://miller-rabin.appspot.com/
to identify the maximum accurate solution for # of bases: 1

[2016-03-14 19:58] Bodigrim commented on #21
Thank you for your question.

Currently `arithmoi` uses B1 and curve counts from https://www.alpertron.com.ar/ECM.HTM for 15..50 digits. Alas, I do not know the source of parameters for 55..60 digits.

The entry for 12 digits is not really important, because it is weird to factorise such small numbers via ECM. IMHO for the same reason it makes no harm.

Choice of B2 is not a dogma, usually it is c

[2016-03-14 20:14] Bodigrim commented on #22
Sounds reasonable, thank you for links. Sorry, I am busy at the moment. It will be great if you have spare time to prepare pull request.

[2016-03-14 21:10] grandpascorpion commented on #22
Sorry for the noobie question but which branch should I pull from (710+ testing) ?

[2016-03-14 21:13] Bodigrim commented on #22
Pull `master` branch. Other branches are outdated and should be pruned in future.

[2016-03-14 21:20] grandpascorpion commented on #22
Thanks!

[2016-03-14 21:25] grandpascorpion commented on #21
Thanks for the detail

[2016-03-15 22:19] grandpascorpion commented on #22
Shoot, I missed something obvious, that one can specify the number of bases to millerRabinV.  I think a new function would make more sense than updating this one.  Otherwise, the "optimal" benefits would result in a clunky implementation.

I think that logic could still be adapted for isPrime if there are performance benefits.

[2016-03-16 00:04] grandpascorpion opened #23 "curveFactorisaton : quirk with selecting "parms""
Hi,

In the internal sub-function "fact" in curveFactorisation in Math/NumberTheory/Primes/Factorisation/Montgomery.hs, there's this line:

mult j <$> fact k (if null pfs then digs+4 else digs)

digs = # of digits and is passed to findParms to return B1, B2 and curve count.
Looks a little awkward, I think it should be incrementing it so that it grabs the next tier.  (For instance, jumping from 15

[2016-03-16 18:44] Bodigrim commented on #23
I must confess that I do not know `Montgomery.hs` deeply enough to verify your proposal at a glance. IMHO we have to annotate the algorithm with comments, cover it with tests and benchmarks before making any changes in logic. If you came to know the particulars of the algorithm, could you please write comments and make pull request?

From the other side, I am certain that hardcoded table of B1, B2

[2016-03-16 20:33] Bodigrim commented on #22
A new function is not a problem, if it is better than old one. Maybe it is worth to run Miller-Rabin over 7 bases above first and then over specified in the `k` parameter number of consequent primes.

I encourage you to change `isPrime` and make benchmarks. It sounds like a very interesting experiment.

[2016-03-17 02:03] grandpascorpion commented on #23
Hi Andrew,

No worries, I'm not an expert myself.

One key section from
http://www.mersennewiki.org/index.php/Elliptic_Curve_Method sheds some
light:

... As described above it probably sounds a bit of a hit-or-miss affair,
but there are controls built into the programme. By carefully determining
the starting values for the programme it is possible to limit our search to
factors of no more than so

[2016-03-17 02:04] grandpascorpion commented on #22
Hmm, I think the new function could just accept n as the sole parameter (if
the intention is to check the minimal set of bases).

Maybe we could do something else, like a hybrid function that combined
"new" and millerRabin,
we could ignore the k (# of bases) param if n <= 2^64 or k <8 and n >
2^64.  Otherwise, we could  "supplement" the 7 base list with other small
primes not in the list.

For ins

[2016-03-17 20:03] Bodigrim commented on #23
In theory it is not difficult: just run `workFact` over a rolling buffer of curves (`parBuffer` from `Control.Parallel.Strategies`). Practically we need to disentangle and decouple `curveFactorisation` to make `workFact` more accessible.

[2016-03-18 02:24] grandpascorpion opened #25 "Conditions on arguments of isStrongFermatPP"
Hi,

isStrongFermatPP  4 9 returns True, meaning base 9 is a "strong liar" for 4
I discovered this accidentally today. I checked the definition and the algorithm seems to only work properly for odd integers > 3.

For n=1: It hung.
For n=2 and  3: It returned False for some bases

I suggest there be a hidden pre-condition function called within
isStrongFermatPP and millerRabinV (and perhaps the "ne

[2016-03-19 16:16] Bodigrim commented on #25
Documentation says:

`isStrongFermatPP 4 9` violates condition `b < n`, so its behaviour is undefined. Same for `isStrongFermatPP` with `n=1` and `n=2`. Further, `isStrongFermatPP 3 b` is `True` for the only valid value of `b=2`.

However, I do not share an opinion of original author of `arithmoi` about unchecked conditions here and there. IMHO it is almost always worth to add guards, at least whe

[2016-03-20 02:14] cartazio commented on #25
Indeed.  Undefined behavior is not math. And as long as a branch is either
heavily biased so branch predictors work well for its not an innner loop,
branches are a OK.

Our plan for the next release is to try and limit changes to accepting new
algorithms that provided they have some reasonable basic testing and
perhaps benchmarks plus shoring up the soundness and testing of preexisting
parts, whic

[2016-03-20 02:47] grandpascorpion commented on #25
Hi guys,

I should have checked the documentation before responding about
isStrongFermatPP.
 (Some implementation do allow b > n.  That minimal base set discussion
from the issue required that functionality)

Is it fair to say in Haskell, people generally follow this rule of thumb?
...

func n b has screens the input and calls func' n b to do the work.
Anyone calling func' (if it were exposed in t

[2016-03-20 05:38] grandpascorpion commented on #22
Since these "optimal sets of bases" do have bases that may be greater than input n, this idea is not guaranteed to work properly (for most of the optimal base sets) with the current implementation of isStrongFermatPP.
(Anecdotally, it seems that if b is a multiple of prime n, the function incorrectly returns false.  I don't know if there are other scenarios that return the wrong answer when b > n

[2016-03-20 10:54] Bodigrim commented on #25
The rule of thumb in Haskell is to express required invariants on type level. In such case 1) one cannot use function incorrectly by construction, 2) one can skip reading manual entirely and rely only on type signature. Some invariants are easier to encode (e. g., use `Natural` instead of `Integer` when the number is required to be non-negative), some are harder - that is the case of `isStrongFerm

[2016-03-20 16:28] Bodigrim commented on #13
Imports should have been fixed by #10 and #26.
@ppetr could you please confirm? Or anyone else with GHC >= 7.10 and 32-bit?

[2016-03-20 17:26] grandpascorpion commented on #22
I reached out to Wozciech Izykowski who maintains the Miller-Rabin record site and he pointed me to his implementation(s):  https://github.com/wizykowski/miller-rabin

I think I have a good solution for the solution for our "dilemma":

Two key points in his code:
if b > n, let b = b % n
if b = 0, this is a non-test. Continue to the next base in the list.  If there are no more in the list, return t

[2016-03-20 19:14] cartazio commented on #25
Indeed.  That is a good rough summary of modern style.  It is worth noting
that sometimes pushing checks from runtime to type checking time is often
not worth the cost if it's in a public interface that becomes harder to
use/unusable by target users.

That said, it would be fascinating to explore this for helping improve
future major revisions.

@bodigrim let's maybe talk about some examples to ex

[2016-03-20 20:29] Bodigrim commented on #22
Sounds good. Feel free to ask any questions, especially regarding tests and benchmarks.

[2016-03-20 20:36] grandpascorpion commented on #25
Thanks, guys.

The reason why asked was that I  followed the "prime" convention, but not consistently.

Being new to Haskell, I followed it as well in my own canon library which is built on top of arithmoi.  It hasn't been released yet though.  I'll adopt the "unsafe" convention instead.

Sent from my iPhone

[2016-03-20 20:37] grandpascorpion commented on #22
Thanks, I appreciate it

Sent from my iPhone

[2016-04-15 16:05] errge commented on #13
I confirm that the current git head builds with ghc 7.10.3 in 32-bit intel.

[2016-04-15 16:14] Bodigrim commented on #13
Nice.

[2016-04-15 16:14] #13 closed

[2016-04-16 10:47] ppetr commented on #13
Sorry for being unresponsive, thanks for fixing it!

pá 15. 4. 2016 v 18:14 odesílatel Bodigrim <notifications@github.com>
napsal:

[2016-05-24 06:03] phadej opened #28 "GHC-8.0 compatible release"
AFAICS the `master` branch builds ok with GHC-8.0.1. The Hackage version has restrictive bounds though (`ghc-prim < 0.5`).

[2016-05-24 15:10] cartazio commented on #28
Derp, yeah, modigrim and I have that planned. I need to write up some
release notes and stuff but thanks for Remindinf me.  My oss / work queue
has been a bit nutty.

Many many thanks for reminding me. I'll schedule some time this afternoon
to do the notes
On May 24, 2016 2:03 AM, "Oleg Grenrus" <notifications@github.com> wrote:

[2016-05-25 21:21] Bodigrim commented on #28
I have created PR #29
@cartazio could you please sign off?

[2016-05-26 04:53] cartazio commented on #28
Will get on it after I wake up :)

On Wednesday, May 25, 2016, Bodigrim <notifications@github.com> wrote:

[2016-06-03 16:51] Bodigrim commented on #28
Fixed in #29. Release 0.4.2.0 is available from Hackage and is compatible with GHC 8.0.

[2016-06-03 16:51] #28 closed

[2016-06-03 16:54] phadej commented on #28
Thanks!

[2016-06-04 15:07] cartazio commented on #28
announce done :)

[2016-06-04 15:10] cartazio commented on #28
@Bodigrim the change log does'nt mention 7.10 support in the version range, ... which range are we supporting for this release? :''''/ (i presuem 7.8-8.0, but i forget)

[2016-06-04 15:12] Bodigrim commented on #28
Oh, mea culpa. 7.10 is supported too, of course.

[2016-06-04 15:13] Bodigrim commented on #28
[code]

[2016-06-04 15:47] cartazio commented on #28
Cool :)

I amended the Reddit post to clarify ;)

Satisfactory announce text I hope? I hope you enjoyed the mutiplicative bit
:)

On Saturday, June 4, 2016, Bodigrim <notifications@github.com> wrote:

[2016-06-04 15:48] Bodigrim commented on #28
Yeah, great announce :) Thank you very much.

[2016-06-18 11:03] Bodigrim commented on #25
Let us come to conclusion. Do we all agree to add precondition checks `n > 2` and `1 < b < n` to `isStrongFermatPP`? As for me, it is a reasonable change, preventing users' confusion.

[2016-06-18 11:09] Bodigrim commented on #22
@grandpascorpion did you encounter any difficulties, writing this new `tieredPrimeTest`?

[2016-06-18 15:14] cartazio commented on #25
Let's only allow well defined stuff and throw useful errors otherwise :)

[2016-06-18 15:16] cartazio commented on #25
I think we don't want to commit to exposing / being stable with respect to any details that are accidents of how things are specifically implemented.

[2016-06-21 02:09] grandpascorpion commented on #22
Hi Andrew,

I found it to be a mixed bag.  Some bit ranges were faster, some slower
(than isPrime).  I can send my findings if you like

Not sure how useful it is.

Thanks,
Fred

On Sat, Jun 18, 2016 at 7:09 AM, Bodigrim <notifications@github.com> wrote:

[2016-06-21 18:38] Bodigrim commented on #22
Yes, please. It would be even better, if you fork `arithmoi` repo and push your changes on GitHub.

[2016-06-21 23:01] cartazio commented on #22
Indeed.  Pretend this is some sort of nasa research engineering thing. And
or that some arithmoi users actually use the lib to prototype crypto algs.
So let's try to perpetually raise the Bar of quality and aweosme.

Performance and design experiments are a great use of your own forks and
personal branches.  A progamatic experiment journal others can replicate or
compare or run!

On Tuesday, June

[2016-07-09 19:52] Bodigrim commented on #22
@grandpascorpion feel free to contact me, it you have any technical difficulties with git/github stuff.

[2016-07-15 19:50] noughtmare opened #31 "wordLog2 slower than naive approach"
wordLog2:
[code]
[code]
my fastLog2:
[code]
[code]
Is this a bug?

[2016-07-15 19:53] noughtmare commented on #31
I found the problem: I should have used `sum` instead of `last`.

[2016-07-15 19:53] #31 closed

[2016-08-15 01:15] ExpHP opened #34 "Getting the smallest prime factors from a FactorSieve"
It does not seem that there is an inexpensive way to look up the contents of a `FactorSieve`, which is unfortunate because a factor sieve can have other useful purposes beyond generating prime factorizations.

Due to memory optimizations I imagine that directly exposing the container is out of the question - but even just a lookup function like `sieveSmallestFactor :: Sieve -> Integer -> Integer`

[2016-08-15 12:50] Bodigrim commented on #34
Sounds reasonable. Could you please prepare a PR?

[2016-08-16 13:58] ExpHP commented on #34
Okay, so I looked into this yesterday, and at first wrote a rather conservative version (error unless `2 <= x && x <= bound`).  Then I discovered how `fsIsPrime` is defined, and after further consideration it seems that the definition which fits best into the existing API is as follows:

(written here in slightly pseudocode-like fashion to emphasize all of the edge cases)

[code]

The result for `

[2016-08-16 18:30] Bodigrim commented on #34
Thanks for your effort. No hurry :)

`fsPrimeTest` is in the export list of `Math.NumberTheory.Primes.Sieve.Misc`, but `Math.NumberTheory.Primes.Sieve.Misc` is not amongst exposed modules in `arithmoi.cabal`. This means that you can freely use `fsPrimeTest` in other modules of `arithmoi`, but you cannot run it from other packages.

One can add `fsPrimeTest` to the export list of `Math.NumberTheory

[2016-08-17 21:46] cartazio opened #36 "sieve design and performance experiments"
@ExpHP @Bodigrim  lets talk out concrete ideas / types / experiments / data structures for fancy  nice sieving here :)

[2016-08-18 16:18] ExpHP commented on #36
Hm, I can't claim to know too much about the topic beyond what I've messed with in my free time!  But to toss around a couple of ideas:

---

When implementing factor sieves in imperative languages, I've found that for best performance in construction one does need to take the bare metal into account; [here in rust](https://gist.github.com/ExpHP/c081842d1daf947bba51ce465716a734#file-factor_sieve-r

[2016-08-18 20:09] cartazio commented on #36
This is good.  Keep on spit balling ideas or fuzzy things, I'm happy to
help be a filter / lense, but first enumerating directions to take is
useful before picking one or some!

On Thursday, August 18, 2016, Michael Lamparski <notifications@github.com>
wrote:

[2016-08-27 12:41] Bodigrim commented on #25
Looks like a good task for first timers. @grandpascorpion do you want to contribute? I can guide through the process.

[2016-08-27 12:55] Bodigrim commented on #36
I.e. if the totient and carmichael sieves could be described as the application of some sort of folding function over a factor sieve.

[code]

Yes, this is a good idea. We have a [special type](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/ArithmeticFunctions/Class.hs#L42-L47) for arithmetic functions to use instead of `[(Integer,Int)] -> b`.

The common problem in number theo

[2016-08-28 21:44] grandpascorpion commented on #25
Sure, Andrew.  Thanks for the offer.

[2016-09-09 10:29] phadej opened #40 "New release of `arithmoi`"
Can the current `master` be released to Hackage. It will help with Stackage's https://github.com/fpco/stackage/issues/1691 going forward (we don't want to disable tests!)

Btw, I checked that `master` is supports all recent versions of other dependencies as well.

[2016-09-09 11:13] Bodigrim commented on #40
Are there any other upper bounds to bump?

[2016-09-09 11:28] phadej commented on #40
@Bodigrim from my pov everything looks good.

[2016-09-09 11:41] Bodigrim commented on #40
Cool. I am for it. I can prepare changelog tomorrow. cartazio?

[2016-09-11 15:36] cartazio commented on #40
Sorry for the lag.
Sure. Would this be a minor version or bug fix release atm? Or would it
need be a major version?

On Friday, September 9, 2016, Bodigrim <notifications@github.com> wrote:

[2016-09-11 21:32] Bodigrim commented on #40
IMHO since we add new functionality, but do not remove old one, it can be a minor release: 0.4.2.0 -> 0.4.3.0. I'll prepare a pull request.

[2016-09-14 20:47] Bodigrim commented on #40
@phadej arithmoi 0.4.3 has been released and uploaded onto Hackage. Please let me know if it plays well with Stackage.

[2016-09-17 22:14] Bodigrim commented on #40
Closed after successful merge of fpco/stackage#1889

[2016-09-17 22:14] #40 closed

[2016-10-18 08:49] expipiplus1 opened #42 "The documentation for the latest version of this package is missing on Hackage."
The documentation for the latest version of this package is missing on Hackage. They've been pending on Hackage for some time, this usually indicated that Hackage wasn't able to build the package.

Is it possible for you to manually upload the package using `cabal upload --doc`, please?

Thanks!

[2016-11-03 21:27] Bodigrim commented on #42
It seems that my `cabal` does not support `--doc` option.

[code]

Should I use a newer version of `cabal`?

[2016-11-03 21:33] expipiplus1 commented on #42
I think that this was introduced in 2.24.

[2016-11-03 21:51] Bodigrim commented on #42
Hmm. In any case Hackage finally managed to build docs on 26th of October.

[2016-11-03 22:16] cartazio commented on #42
Also use up to date cabal rather than stack :)

On Thursday, November 3, 2016, Bodigrim <notifications@github.com> wrote:

[2016-11-04 21:36] #42 closed

[2016-12-22 19:08] phadej opened #45 "Split Math.NumberTheory.Logarithms into separate package"
So people can depend on it. Unfortunately for some `arithmoi` seems to be "heavy" dependency.
E.g. `scientific` has an internal copy.

I could setup the package (and transfer to you / be co-maintainer, if you want), and make PR here to use it, if the proposal is ok.

[2016-12-22 20:31] cartazio commented on #45
I think we're first focusing on getting the code base in great shape and
such before anything like that is on the table

On Thu, Dec 22, 2016 at 2:08 PM Oleg Grenrus <notifications@github.com>
wrote:

[2017-01-01 13:16] phadej opened #46 "Update license file / copyright field"
It currently says *(c) 2011 Daniel Fischer*

[2017-01-02 17:25] Bodigrim commented on #46
Nice catch :) I'll update it after holidays.

[2017-01-02 17:34] Bodigrim commented on #45
It could possibly make sense, because logarithms does not intertwine with number theory much. I  think I can spend a day or two in January getting `Math.NumberTheory.Logarithms` in shape. However, I am not sure that, for instance, maintainers of `scientific` would be keen to switch from their internal copy to the new hypothetical package.

[2017-01-02 20:36] phadej commented on #45
@Bodigrim I made http://hackage.haskell.org/package/integer-logarithms already, there's also a PR for `scientific`, just in case.

[2017-01-02 21:20] cartazio commented on #45
Only integer log?

Obviously there's a lack of explicit branchcut complex logs 😱👹. @bodigrim
that would fix the number theory relevancy right? :)

On Mon, Jan 2, 2017 at 3:36 PM Oleg Grenrus <notifications@github.com>
wrote:

[2017-01-03 06:30] phadej commented on #45
And it got merged: https://github.com/basvandijk/scientific/pull/45 in `scientific`

[2017-01-16 22:25] cartazio opened #47 "once random v2 is out, make sure arithmoi can use it/ benefits from it"

[2017-01-16 22:25] cartazio commented on #47
@Bodigrim  :)

[2017-01-18 21:14] Bodigrim commented on #47
Cool, will do :)

[2017-01-18 22:00] Bodigrim commented on #46
PR #48

[2017-01-18 22:00] Bodigrim commented on #45
Since `integer-logarithms` got included into `scientific`, it looks utterly unreasonable to keep our own copy. That would mean **three** triplicates of code floating around :D It would also free `arithmoi` from a pack of low-level unboxed/CPP stuff.

@phadej could you please transfer me the ownership, as you have generously offered?

[2017-01-18 22:05] phadej commented on #45
@Bodigrim, sorry I don't understand, transfer the repository to your account? I have no objections, will do so, if it's the intention.

Out of curiosity, what's the third copy, `arithmoi` and `scientific` and ?

[2017-01-21 21:55] Bodigrim commented on #45
Yes, please, if you do not mind. This will make things a bit easier for me.

I meant old `scientific`, new `integer-logarithms` and `arithmoi` - that was three.

[2017-01-21 22:48] phadej commented on #45
Hmm, I don't understand what's the difference, but if you wish.

[2017-01-21 22:53] phadej commented on #45
To be sure, I hope that `integer-logarithms` will be consider "ready" and only "maintaining" be performed (so it works with newer GHC etc), epsecially no "explicit branchcut complex log" added etc.

[2017-01-21 22:58] phadej commented on #45
Also made a revision so the urls are right: http://hackage.haskell.org/package/integer-logarithms/revisions (failed at first).

[2017-01-21 22:58] #45 closed

[2017-03-04 13:08] peti opened #49 "arithmoi-0.4.3.0 test suite does not compile on 32 bit platforms"
Citing from http://hydra.nixos.org/build/49692523/nixlog/1/raw:

[code]

[2017-03-04 17:05] cartazio commented on #49
agreed this is a bug in the test suite.  But is this a werrror failure or a
failure that happens generally?

Happy to accept a pr for this fix depending on the time scale of resolving
you're looking for :)

Also test suite failures are not a library failure, so I'd quibble over the
title of the big report ;)

On Sat, Mar 4, 2017 at 8:08 AM Peter Simons <notifications@github.com>
wrote:

[2017-03-04 18:47] peti commented on #49
I'm just packaging arithmoi for NixOS; I don't have the necessary domain-specific know-how to fix this issue.

The build of the test suite fails even without -Werror.

[2017-03-19 18:56] Bodigrim commented on #49
Sorry, guys, I was on vacation without laptop and decent internet.
@peti could you please try #50? Unfortunately I do not have x32 compiler at hand.

[2017-03-19 18:56] #46 closed

[2017-03-20 22:06] Bodigrim commented on #49
Tested, merged.

[2017-03-20 22:06] #49 closed

[2017-04-04 22:56] Bodigrim commented on #22
I decided to use GMP's implementation of Miller-Rabin test. It chooses bases at random, but it is very fast. I have also added a link to the best choice of bases for strong Fermat test.

[2017-04-04 22:56] #22 closed

[2017-04-04 22:57] Bodigrim commented on #25
Fixed and merged: now `isStrongFermatPP ` does not loop forever, if its arguments do not satisfy preconditions.

[2017-04-04 22:57] #25 closed

[2017-07-22 21:47] Bodigrim opened #59 "Lazy version of divisors"
At the moment there are two functions to list divisors of an integer:
* [divisors](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/ArithmeticFunctions/Standard.hs#L64), which returns `Set n`,
* and its specialised version with better performance [divisorsSmall](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/ArithmeticFunctions/Standard.hs#L79), which returns

[2017-07-23 00:05] Bodigrim opened #60 "Summatory functions"
Common difficulty of number theory is that arithmetic function misbehave: their plots oscillate up and down in chaotic fashion. For instance, here is a plot of divisor function from [wiki:](https://en.wikipedia.org/wiki/Divisor_function)
![Divisor function](https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Divisor.svg/500px-Divisor.svg.png)

The pivot idea of analytical number theory is th

[2017-07-25 22:07] Bodigrim opened #61 "Polymorphic fibonacci/lucas"
Currently `Math.NumberTheory.Recurrencies.Linear` exposes monomorphic functions `fibonacci`, `fibonacciPair`, `lucas`, `lucasPair`, `generalLucas`, which return `Integer` values. This is not suitable for some scenarios.

For instance, recently I needed a Fibonacci number with index `10^15` modulo `123456789`. The Fibonacci number itself is eminently huge, but, since modulo is small, the reduced va

[2017-07-26 02:59] cartazio commented on #61
sounds good

we should make sure the standard specailizations are made available, which
should be simply a SPECIALIZE pragma in the source module?

On Tue, Jul 25, 2017 at 6:07 PM, Bodigrim <notifications@github.com> wrote:

[2017-07-26 23:20] Bodigrim commented on #61
Absolutely.

[2017-07-30 20:08] Bodigrim opened #62 "Primitive roots"
I discovered that `arithmoi` entirely lacks routines to deal with [primitive roots modulo n](https://en.wikipedia.org/wiki/Primitive_root_modulo_n). This gap should be filled, however I have not yet come up with a convenient and effective API.

The difficulty is that finding primitive roots depends not only on modulo `n` and its factorisation (this part can be dealt with layer by layer as in [Math

[2017-08-01 17:13] #61 closed

[2017-08-03 20:31] #59 closed

[2017-08-31 05:57] Bodigrim commented on #21
Closed in #65.

[2017-08-31 05:57] #21 closed

[2017-08-31 05:57] Bodigrim commented on #23
Closed in #65.

[2017-08-31 05:57] #23 closed

[2017-08-31 05:59] Bodigrim commented on #34
@ExpHP any progress on a PR?

[2017-08-31 14:35] ExpHP commented on #34
This fell through the cracks.  Status:

* I don't currently need this in any of my ongoing projects
* I made a branch with the feature about a year ago.  Found it and rebased it without trouble.
* Having had some experience now with Haskell's test frameworks, I was able to add a test this morning.

so I was hoping to get at least something up today...

but I'm not actually able to run the tests du

[2017-08-31 18:18] cartazio commented on #34
try cabal install --enable-tests --only-deps :)

On Thu, Aug 31, 2017 at 10:35 AM, Michael Lamparski <
notifications@github.com> wrote:

[2017-08-31 18:18] cartazio commented on #34
or dont use the arch packaged ones, possibly both!

On Thu, Aug 31, 2017 at 2:17 PM, Carter Schonwald <
carter.schonwald@gmail.com> wrote:

[2017-08-31 18:18] cartazio commented on #34
i recommend using cabal 2.0 and new build :)

On Thu, Aug 31, 2017 at 2:17 PM, Carter Schonwald <
carter.schonwald@gmail.com> wrote:

[2017-09-01 13:11] ExpHP commented on #34
Ah yes, I forgot about `new-build`!  I used to use that all the time. I still have the script I used to use to locate the binaries since back when I used it there still was no `new-run`.

...unfortunately, `new-build` eventually results in the same linker errors.
...and `stack init` complains that I'm not on cabal 2.0.  (arch has 1.24)
...and `cabal install cabal-install` results in, you guessed i

[2017-09-02 19:30] ExpHP commented on #34
So... I benchmarked my PR against the fastest alternative, and: **I'm not impressed.**

[Gist](https://gist.github.com/ExpHP/026c61100f3b913c09d429dd04a876dd)

I tried making a sieve of size 2e8 and summing it up.

* `fst . head . sieveFactor sieve` - takes about 30s
* `fromJust . sieveSmallestFactor sieve` - takes about 15s.

A 50% speedup is alright, but I was hoping for orders of magnitude.  My

[2017-09-02 19:43] ExpHP commented on #34
Note: Unless there's a clear and simple path forward, I'm not certain that I'm willing to pursue this any further at the time being, so I'll close this for now

[2017-09-02 19:43] #34 closed

[2017-09-02 21:44] cartazio commented on #34
great work none the less and thanks for sharing your examinations!

On Sat, Sep 2, 2017 at 3:43 PM, Michael Lamparski <notifications@github.com>
wrote:

[2017-09-18 20:25] CarlEdman opened #69 "New Chinese Remainder Module?"
Congratulations on 0.6.0.0!  So much good stuff, so much stuff which I had already written and planned to contribute but never got around to!

Lest more of my efforts be wasted, let me start by offering an alternative implementation of the Chinese Remainder module.  It differs from the current implementation in the following points:

1. It uses the M.NT.Moduli.Class types which makes the interface

[2017-09-18 21:04] Bodigrim commented on #69
Looks promising; I'll dig into it later this week. Thanks for contributing!

[2017-09-18 23:45] CarlEdman opened #70 "Some Useful Polynomials and Other Series"
Here are some useful functions from my vault.  Feel free to add or modify to your tastes any or all of them for future arithmoi releases.  If there is interest I have some other number theoretic codes which may be of broader interest and which I'll be happy to share once I've cleaned them up for general use.

This is my Bernoulli series.  I have checked that it produces the same results as the one

[2017-09-19 11:49] CarlEdman commented on #60
Very interesting.  I'll dig into that paper later.  Until then I can offer one piece of Haskell code related to the sublinear computation of certain summatory functions over the primes.  Its name is `primeLucy` (in honor of the infamous "Lucy Hedgehog" who first posted the algorithm which this code generalises).

It takes three parameters: A size parameter `n::Int`, a function `f:: Int -> Integer`

[2017-09-19 12:00] CarlEdman commented on #70
Here are a few more obvious ones I omitted earlier:

[code]

[2017-09-19 18:11] Bodigrim commented on #69
Your proposal is very welcome: both refining of interface and dealing with non-coprime moduli are brilliant ideas.

Could you please put your proposal into shape of Pull Request? If you do not want to mess with `git`, you can do it entirely from GitHub web interface. Click "Fork" button near the right top corner at https://github.com/cartazio/arithmoi and edit file by file, clicking by "Edit this

[2017-09-20 00:52] CarlEdman commented on #69
Done.  I've added the new functions with a terminal s and deprecated, but preserved the old functions for backward compatibility.

Your suggestion regarding a `chineseRemainders2' :: Mod m -> Mod n -> Maybe (Mod (m * n))` is well taken.  I've not yet written it because I couldn't make it work, doubtlessly due to my imperfect understanding of the dependent type system.  I'll give it another try.  M

[2017-09-20 21:22] Bodigrim commented on #69
Let us continue the discussion in #71.

[2017-09-20 22:11] Bodigrim commented on #60
Awesome, I was not aware of this algorithm.

I've found the original post of Lucy_Hedgehog (https://projecteuler.net/thread=10;page=5#111677). He mentions that "It is also possible to improve the complexity of the algorithm to O(n^2/3), but the code would be more complex". Do you know how?

[2017-09-20 23:08] CarlEdman commented on #60
I am told the algorithm referred to there is described in the paper [Tomás Oliveira e Silva, Computing pi(x): the combinatorial method, Revista do DETUA](sweet.ua.pt/tos/bib/5.4.pdf), but this paper is still on my reading list.

[2017-09-24 08:51] Bodigrim commented on #70
AFAIU these orthogonal polynomials are linearly recurrent. It looks suitable to define
[code]
and put their definitions with comments about applications in number theory (or possibly combinatorics) somewhere near `M.NT.Recurrencies.Linear`.

Can Chebyshev polynomial be expressed in terms of `generalLucas`?

[2017-10-01 21:25] Bodigrim opened #73 "Rings of quadratic integers"
It would be nice to implement a basic support for [quadratic integers](https://en.wikipedia.org/wiki/Quadratic_integer) in `arithmoi`. There is a proof of concept in `Math.NumberTheory.GaussianIntegers` module.

1. Implement quadratic integers as a data type with two `Integer` fields and discriminant of the field *D* on the type level. There are may be several possible designs, for instance,

[cod

[2017-10-12 14:51] blperez01 commented on #73
Currently have most of the functionality for this finished - just need to implement the unique factorization bit.

[2017-10-18 22:57] Bodigrim opened #78 "Generate a list of numbers with given prime divisors"
It would be nice to have a function, which lists numbers with prime divisors in a given set. Here is a very inefficient implementation:

[code]

Of course, real implementation should avoid factorisation completely.

Side note: a paper [on smooth numbers](http://www.dms.umontreal.ca/~andrew/PDF/msrire.pdf), especially Ch. 5.7.

[2017-10-19 17:14] grandpascorpion commented on #78
I have something that can do that (from a Project Euler solution)  Where
should do you think it should be added?  I don't know of a smart way using
this sort of algorithm to generate all of the numbers below the lower bound
in order to exclude them.  There is an efficient internal routine to merge
the lists of lists.  Any culling would have to occur in there. Also,
there's probably a better name t

[2017-10-19 21:58] Bodigrim commented on #78
Wow, sounds nice. It is probably worth of a separate module `Math.NumberTheory.SmoothNumbers`. A function may be called `smooth` or `smoothOverSet` (following the term from [wiki](https://en.wikipedia.org/wiki/Smooth_number#Smooth_over_a_set_A)). You are welcome to prepare a PR.

[2017-10-20 02:55] grandpascorpion commented on #78
Ooh, I like smoothOverSet.  I guess we could do something similar with
smoothOverList (which would need to sort the "nub").
I was thinking only primes would be allowable as input but the wiki page
used values which are not always prime.   If we were validating the input,
I think we could reject a set/list that had any two members which were not
relatively prime.  So (4,3, 5) would be allowed but n

[2017-10-21 10:19] Bodigrim commented on #78
Good, I agree with the proposed interface.

[2017-10-22 16:04] grandpascorpion commented on #78
Sorry, I had one other thought.

Using the convention of the wiki page,  would 16 be smooth over the set {4,
3} but not 8?  8 is still a multiple of 4 that doesn't use another prime
factor.  It seems like a bit of a gray area.

Thanks

On Sat, Oct 21, 2017 at 6:19 AM, Bodigrim <notifications@github.com> wrote:

[2017-10-22 23:01] Bodigrim commented on #78
It is sensible to stick to the convention on the cited wiki page, unless we have a good reason to do it in another way. Yes, wiki does not consider 16 to be smooth over {8, 3}.

[2017-10-22 23:21] grandpascorpion commented on #78
Agreed, thanks

On Sun, Oct 22, 2017 at 7:01 PM, Bodigrim <notifications@github.com> wrote:

[2017-10-23 19:41] #36 closed

[2017-10-24 20:55] Bodigrim opened #79 "Migrate from array to vector"
Older parts of `arithmoi` tend to use `Data.Array` instead of `Data.Vector`, as newer modules do. It would be nice to migrate to vectors completely. The migration should be pretty straightforward, so it is a nice first issue.

[2017-10-24 21:43] Bodigrim opened #80 "Benchmark Math.NumberTheory.GCD"
There are two modules, implementing very low-level algorithms for [GCD](https://en.wikipedia.org/wiki/Greatest_common_divisor): [Math.NumberTheory.GCD](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/GCD.hs) and [Math.NumberTheory.GCD.LowLevel](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/GCD/LowLevel.hs). I am wondering whether they are still faster than `

[2017-10-24 21:56] Bodigrim commented on #47
Depends on https://github.com/haskell/random/issues/31

[2017-10-27 21:03] Bodigrim commented on #73
A prototype can be found in #82.

[2017-12-19 09:40] juhp opened #83 "test-suite/Math/NumberTheory/TestUtils.hs: Duplicate instance declarations"
In Stackage build:

[code]

[2017-12-20 18:45] Bodigrim commented on #83
I've released `arithmoi-0.6.0.1` yesterday. Is it fine now?

[2017-12-29 16:09] grandpascorpion commented on #78
Sorry, I let this drop on the floor.  Should this script be part of the
test-suite?

Best, Fred

On Sun, Oct 22, 2017 at 7:21 PM, Fred Schneider <
frederick.schneider2011@gmail.com> wrote:

[2018-01-01 14:15] Bodigrim commented on #78
Well, it is always nice to have tests. But we can start without them as well.

[2018-01-01 19:23] Bodigrim commented on #70
Yep, Chebyshev polynomials of both kinds can be expressed in terms of `generalLucas`, if we have an efficient `Num` instance for polynomials.

[code]

[2018-01-01 19:40] Bodigrim opened #87 "Redesign API for modular square roots"
Currently `Math.NumberTheory.Moduli.Sqrt` is a fractal of bad design. There are eight functions exposed and **zero** of them are actually suitable to find a modular square root x^2 ≡ n (mod m). User is obliged to factorise a modulo himself and satisfy a list of funny preconditions, stated in comments, but not enforced by types. And if some of preconditions are not satisfied, "the computation may n

[2018-01-01 22:23] CarlEdman commented on #70
This should be a drop-in replacement for Poly which is more efficient for multiplications and additions, avoids keeping or generating leading null-terms, has a few other features, and which I happened to have laying around.

[code]

[2018-01-01 22:34] Bodigrim commented on #70
Nice!

[2018-01-02 22:02] Bodigrim opened #88 "Discrete logarithms"
Once #86 lands into master, it would be nice to implement any non-trivial (or even trivial one!) algorithm for computation of discrete logarithms. I do not know much about this field, but hopefully [wiki](https://en.wikipedia.org/wiki/Discrete_logarithm#Algorithms) could serve a good starting point.

[2018-01-02 22:16] Bodigrim opened #89 "Wrap output of splitIntoCoprimes into newtype"
Currently [splitIntoCoprimes](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/GCD.hs#L267) guarantees certain properties of its output, but still returns a plain `[(a, b)]`. Such return type is easily corruptible by other functions. It would be much better to return something like

[code]

The interface should not expose `Coprimes` constructor outside. Here is a quick draft of A

[2018-01-04 23:33] cartazio commented on #88
I fuzzily recall the pollard rho algorithm is one of the classics

On Tue, Jan 2, 2018 at 5:02 PM Bodigrim <notifications@github.com> wrote:

[2018-01-04 23:36] cartazio commented on #89
Style wise I like to use record fields to document what different positions
in a tuple mean. (One of my fave party tricks Is showing that you can mix
record and fast syntax.  Though that’s not relevant here ;) )

On Tue, Jan 2, 2018 at 5:16 PM Bodigrim <notifications@github.com> wrote:

[2018-01-09 18:27] #62 closed

[2018-01-10 07:35] juhp commented on #83
With latest Stackage Nightly:

tasty-0.12.0.1 (Roman Cheplyaka <roma@ro-che.info> @feuerbach) is out of bounds for:
- [ ] arithmoi-0.6.0.1 (>=0.10 && < 0.12). @Bodigrim. @cartazio. Used by: test-suite

tasty-hunit-0.10.0.1 (Roman Cheplyaka <roma@ro-che.info> @feuerbach) is out of bounds for:
- [ ] arithmoi-0.6.0.1 (==0.9.*). @Bodigrim. @cartazio. Used by: test-suite

[2018-01-10 08:57] Bodigrim commented on #83
Fixed in 0.6.0.1 revision 1. Please check.

[2018-01-21 23:06] Bodigrim commented on #78
@grandpascorpion any chance for pull request?

[2018-01-24 02:58] grandpascorpion commented on #78
Done

Thanks

On Sun, Jan 21, 2018 at 6:06 PM, Bodigrim <notifications@github.com> wrote:

[2018-02-26 01:29] jgertm commented on #80
I started working on this [here](https://github.com/cartazio/arithmoi/pull/92)

[2018-03-08 19:50] Bodigrim commented on #78
Done in #91

[2018-03-08 19:50] #78 closed

[2018-03-10 13:29] Bodigrim opened #94 "Change output of prime sieves from [Integer] to [Word]"
Currently Eratosthenes sieves from `Math.NumberTheory.Primes.Sieve.Eratosthenes` output a list of `Integer` and operate internally on `Integer` and `Int`. This was reasonable historically, when x32 architecture was omnipresent. Nowadays it does not make much sense: Eratosthenes sieves consume far too much memory beyond 2^64 to be practical.

That said, it would be more memory efficient to use `Int

[2018-03-10 13:36] Bodigrim opened #95 "Do not report -1 as a factor"
Current `factorise` routines (both `Math.NumberTheory.Primes.Factorisation.Montgomery` and `Math.NumberTheory.GaussianIntegers`) list `-1` as a member of canonical factorisation of negative numbers. This is weird from mathematical perspective (canonical factorisation should consist of primes only) and will eventually be removed, when all primes throughout the library will be represented by newtype

[2018-03-12 16:37] cartazio commented on #94
would it be better to use Word64? (or is there physical memory issues that
leak in?)

On Sat, Mar 10, 2018 at 8:29 AM, Bodigrim <notifications@github.com> wrote:

[2018-03-12 18:48] Bodigrim commented on #94
`Word64` would be fine too, I think.

[2018-03-12 23:05] Bodigrim commented on #60
I just realised that there is `Math.NumberTheory.Primes.Counting.Impl.primeCount`, which boasts to count pi(x) (number of primes up to a given limit) in roughly O(n^0.7) time. The discussion above suggests that it can be generalised to compute a sum of values of an arbitrary function on primes, not just `f p = 1`, with the same time complexity. Sounds like a plan :)

[2018-03-13 17:02] CarlEdman commented on #60
Hope you can use the code I posted above!  It is more general that `primeCount ` so it may be somewhat slower (though with the same asymptotics), but it's highly optimized, it gives you the value of the sum at a whole bunch of other useful points for free, and I have found it very useful, .  Plenty of non-trivial Euler problems for which you just need to plug in a few simple functions into the alg

[2018-03-13 22:40] Bodigrim opened #97 "Sum up a function over primes"
`Math.NumberTheory.Primes.Counting.Impl.primeCount` implements an algorithm to compute π(n), which is number of primes below n, in O(n^0.7) time and O(n^1/2) space. One can view π(n) as a sum of `f p = 1` over prime `p` below `n`.

As it was pointed by @CarlEdman in #60 (`primeLucy`), this approach allows a generalization for any function `f` with the same time and space requirements. Moreover, th

[2018-03-17 21:24] Bodigrim opened #99 "Check whether `evenI` is still faster than `even`"
Module `Math.NumberTheory.Moduli.Jacobi` contains an interesting helper function:

[code]

Actually, it was definitely much faster than `even` from `Prelude` before GHC 8.4 due to [trac 14437](https://ghc.haskell.org/trac/ghc/ticket/14437). We should check (looking at Core and CMM), whether `evenI` is still faster. And if it is, push its definition into `base` for the profit of the whole community

[2018-03-17 23:35] Bodigrim opened #100 "Support Natural on the same level with Int, Word and Integer"
There are three "first-class" integer (implementing `Integral` instances) types in `arithmoi`: `Int`, `Word` and `Integer`. It means that polymorphic functions `Integral a => ...` has been written, keeping in mind only these three possibilities for `a`. Usually such functions get `{-# SPECIALISE #-}` or/and `{-# RULES #-}` to improve performance. Here is an example from `Math.NumberTheory.Powers.S

[2018-03-18 01:43] cartazio commented on #100
Number theory sans natural numbers is madness. Let’s dig into this!

On Sat, Mar 17, 2018 at 7:35 PM Bodigrim <notifications@github.com> wrote:

[2018-03-18 21:35] jhenahan commented on #97
I've been messing around with this on a branch, and there are some really nice implementations that fall out of this approach.

- `primeCount` falls out immediately as `primeLucy (const 1)`
- `sumOfPrimesUpTo` is simply `primeLucy id`

It's still quite messy, but it's extremely fast once it has warmed up.

`primeCount 100000` is slowish on my machine, every time I run it. `primeCount' 100000` on m

[2018-03-18 22:32] CarlEdman commented on #97
@jhenahan
If we are talking about the `primeLucy` I originally submitted, I don't entirely understand.

1. My `primeLucy` not only allows you to, but requires, a summatory function.  While calculating the summatory function from the principal function, that would take `O(n)` and hence defeat the purpose.

2. As for switching from the Array interface to the Vector interface, far be it from me to de

[2018-03-18 22:45] jhenahan commented on #97
@CarlEdman Thanks very much for the fairly critical point about the summatory function. :) That would absolutely defeat the purpose. I'll have to think on it more, in that case.

[2018-03-18 22:55] CarlEdman commented on #97
@jhenahan My pleasure.  Let me know if I can help.

[2018-03-18 23:55] Bodigrim commented on #99
Unexpectedly, `evenI` appears much faster than `even` from `Prelude`.

[code]

With GHC 8.4.1:

[code]

I looked into CMM. `Prelude.even` results in `remInteger n 2`, which is left as is. On contrary, `fromIntegral :: Integer -> Word` is very cheap and `remWord n 2` is optimised to bitwise `and`.

I'll file a ticket in GHC trac.

[2018-03-19 00:05] Bodigrim commented on #97
With regards to `array` vs. `vector`: there are unboxed mutable vectors with a low-level interface, providing decent performance: [unsafeRead](http://hackage.haskell.org/package/vector-0.12.0.1/docs/Data-Vector-Mutable.html#v:unsafeRead), [unsafeWrite](http://hackage.haskell.org/package/vector-0.12.0.1/docs/Data-Vector-Mutable.html#v:unsafeWrite), etc. I feel like nowadays Haskell developers (or a

[2018-03-19 00:11] CarlEdman commented on #97
@bodigrim I think that unboxing could be a big win.  For starters, it ought to reduce GC time to just about 0.  The reason I didn't use unboxed arrays was that for my problem I needed more than 64-bit int precision, so I had to go with Integers which can't really be unboxed.

Given how large some of the summatory function results can be, I think keeping Integers available for `primeLucy` would be

[2018-03-19 00:44] jhenahan commented on #97
Would you have any suggested literature on “useful” summatory functions? While I’m thinking on it, it couldn’t hurt to build in more special cases like `primeCount`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-03-19 12:21] CarlEdman commented on #97
@jhenahan

I don't really have a literature, but a few pointers:

1. The Faulhaber polynomials (for which I submitted code at [Issue #70](https://github.com/cartazio/arithmoi/issues/70) give the summatory functions for all series of the form $x^n$.  Hence, by trivial extension, they also give the summatory functions for any polynomial.

2. I have not tried this, but I believe `primeLucy` can be us

[2018-03-21 20:37] #95 closed

[2018-04-08 18:56] Bodigrim commented on #97
@jhenahan any news? Feel free to ping me, if you need to discuss anything.

[2018-04-08 22:10] jhenahan commented on #97
Nothing yet, but I’ll be setting aside some time to look into it further next week. Work’s been eating my OSS time.

[2018-04-18 17:52] #89 closed

[2018-05-17 15:42] glchapman opened #105 "Spurious 1 factor reported for large repUnit"
With version 0.6.0.1 of arithmoi (I'm using stack LTS), given this function:
[code]
I get this result with factorise:
[code]
You can see 1 is reported as a factor.

[2018-05-17 21:19] Bodigrim commented on #105
Wow. Thanks for reporting.
Seems it has been already fixed in master (maybe in course of #101).

[2018-05-18 17:10] #105 closed

[2018-06-08 08:55] Bodigrim commented on #94
I prepared a [branch](https://github.com/Bodigrim/arithmoi/tree/prime-sieves), which makes `primes` polymorphic by result type. There is still an issue, when an output type is finite. For example, `primes :: [Int8]` returns an infinite list of primes modulo 256 instead of a finite list of primes between 1 and 255.

[2018-06-08 12:03] Bodigrim opened #106 "Ramanujan tau-function"
Ramanujan tau function is probably the largest omission in `Math.NumberTheory.ArithmeticFunctions.Standard`. It is a multiplicative function, important in theory of modular forms.

A straightforward approach to its computation is to implement [these formulas](http://www.numbertheory.org/php/tau.html). This will be a nice first step.

More efficient algorithm is given by [Charles 2006](https://link

[2018-06-08 12:11] Bodigrim opened #107 "Partition function"
[The partition function p(n)](https://en.wikipedia.org/wiki/Partition_(number_theory)#Partition_function) represents the number of possible partitions of a natural number n, which is to say the number of distinct ways of representing n as a sum of natural numbers (with order irrelevant).

It would be nice to implement the partition function as a self-recurrent sequence `partition :: Num a => [a]`

[2018-06-09 13:48] Bodigrim commented on #80
I took a closer look into `Prelude.gcd`. It is compiled into a direct call to GNU GMP library, so I do not think that any native Haskell implementation can beat its performance on average. So we should probably scrap `gcd` and `coprime` from `Math.NumberTheory.GCD` and remove `Math.NumberTheory.GCD.LowLevel` entirely.

[2018-06-12 21:57] Bodigrim opened #111 "Find Gaussian prime with a given norm in effective way"
There are three kinds of Gaussian primes (see [Math.NumberTheory.GaussianIntegers.primes](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/GaussianIntegers.hs#L133)):
* 1 + i,
* p + 0i, where p is an integer prime and p = 4k+3,
* a + bi, where a^2+b^2 is an integer prime and p = 4k+1.

In the third case it is non-trivial how to find a and b, satisfying a^2+b2 = p for a given p. C

[2018-06-14 20:54] #80 closed

[2018-06-14 21:22] Bodigrim opened #114 "Implement extendedGCD via integer-gmp"
I tried to implement `Math.NumberTheory.GCD.extendedGCD` via `GHC.Integer.GMP.Internals.extendedGCDInteger` in [a temporary branch](https://github.com/Bodigrim/arithmoi/tree/remove-gcd).

[code]

But after this change our test-suite fails with a horrible error:
[code]

I suspect the issue is with `integer-gmp` (did anyone ever used `integer_gmp_gcdext` at all?) and not with `arithmoi`, but current

[2018-06-15 21:09] Bodigrim commented on #100
Tickets https://ghc.haskell.org/trac/ghc/ticket/14170 and https://ghc.haskell.org/trac/ghc/ticket/14465 have just been fixed in GHC master, meaning that from now on GHC Core supports `Natural` on the same level with `Integer`. This is an awesome improvement, closing a huge performance gap between these types.

[2018-06-24 22:02] #94 closed

[2018-06-30 20:49] Bodigrim commented on #99
Filed as https://ghc.haskell.org/trac/ghc/ticket/15327

[2018-07-06 22:01] Bodigrim commented on #99
Anyway, `evenI` has been refactored in #103 and is in line with `rem4is3` and `rem8is1or7`, so closing.

[2018-07-06 22:01] #99 closed

[2018-07-06 23:22] Bodigrim commented on #114
Filed as https://ghc.haskell.org/trac/ghc/ticket/15350

[2018-07-22 22:38] rockbmb commented on #107
@Bodigrim Hello;
Is it even possible to write `partition` as a self-recurrent sequence in an "efficient" way, as we would with e.g. `fibs = 0 : 1 : zipWith (+) fibs (tail fibs)`? Each value of `partition` requires an (at least) linearly growing number of previous results to compute, lists might not be helpful here.

[2018-07-23 23:08] Bodigrim commented on #107
It depends on the definition of "efficient". Usually I start development with a vastly inefficient implementation (because it's better to have something than nothing), then cover it with tests and benchmarks and only after this proceed to all kinds of optimizations and improvements.

In our case each element is a signed sum of some previous values. Mask of required values can be extracted in a lin

[2018-07-26 17:42] Bodigrim commented on #107
Here is an example of such function:

[code]

E. g.,

[code]

[2018-07-27 20:09] Bodigrim commented on #107
I've been playing with my (unreleased yet) [`Data.Chimera`](https://github.com/Bodigrim/bit-stream/blob/master/Data/Chimera.hs), offering (almost) infinite lazy streams with O(1) indexing.

Let us start from a pretty crazy function, vaguely resembling the recursion pattern of `partition`:

[code]

Computing `foo 50` takes 2 seconds on my machine, and anything above takes almost infinite time. One

[2018-07-27 21:17] rockbmb commented on #107
@Bodigrim looks great, are you planning to release the package? I was considering a simple `{Int/Hash}Map` (or just `Map` first), although it'll make the `partition` list useless past its `maxBound :: Int`-th index.

[2018-07-31 17:33] #107 closed

[2018-07-31 17:49] rockbmb commented on #107
@Bodigrim If you ever release your `bit-stream` package, please ping me so this can be refactored to use it.

[2018-07-31 19:30] Bodigrim opened #117 "Dirichlet beta function"
[Dirichlet beta function](https://en.wikipedia.org/wiki/Dirichlet_beta_function) is an important analogue of Riemann zeta function, implemented in #44. Beta function is especially handy when it comes to analytic number theory over Gaussian integers.

It would be nice to compute its values at positive integer points, similar to Riemann zeta function in [Math.NumberTheory.Zeta](https://github.com/ca

[2018-07-31 19:56] Bodigrim opened #118 "Eisenstein integers"
My feeling is that currently #73 is too broad and too vague. We should rather explore more special cases to hone API before taking a stab at the general problem.

We have already implemented the simplest quadratic ring, which is the ring of [Gaussian integers](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/GaussianIntegers.hs). The next step is to handle the ring of Eisenstein

[2018-07-31 20:16] Bodigrim opened #119 "Dirichlet characters"
https://en.wikipedia.org/wiki/Dirichlet_character

Despite of rather complicated applications, Dirichlet characters itself are a simple algebraic concept.
It would be nice to have a data type, representing them, annotated by modulo on type level:

[code]

Since Dirichlet characters of given modulo form a group by multiplication, we should be able to define correspondent `Semigroup` and `Monoid` in

[2018-08-01 05:55] rockbmb commented on #117
@Bodigrim have you read [this](https://arxiv.org/pdf/0910.5004.pdf) paper before? From it, it seems someone in the OEIS wiki derived a [handy](https://oeis.org/wiki/Dirichlet_beta_function#Formulae) (see the equality for `β(2n)`) formula for the function.

[2018-08-01 19:25] rockbmb commented on #117
What would the issue with the polygamma function `ψ` be? There's [this](https://en.wikipedia.org/wiki/Polygamma_function#Recurrence_relation) recurrence (see first equation in the "Recurrence relation" section) that doesn't seem too bad.

[2018-08-01 19:31] Bodigrim commented on #117
The formula above involves growing derivatives of polygamma function at fixed argument 1/4, not a fixed derivative of growing arguments.

[2018-08-01 19:57] rockbmb commented on #117
Yes, nevermind - I just noticed that recurrence is only valid for positive integers.

[2018-08-01 23:59] rockbmb commented on #117
Found [this](http://www.emis.ams.org/journals/JIS/VOL4/CHEN/AlgBE2.pdf) for Euler numbers, check the last page. A little confusing because the author uses `[x]` to mean `⌊x⌋ = floor x`.

[2018-08-02 20:34] rockbmb commented on #117
@Bodigrim regarding formula (57) from [Computational strategies for the Riemann zeta function](https://cr.yp.to/bib/2000/borwein.pdf), do you find it worthwhile add something to `zetas`'s documentation that describes the algebraic manipulations undertaken to get the formula from how it was presented to what is shown in the code? Perhaps a link to a GitHub gist with some LaTEX.

I'm about to do the

[2018-08-02 21:05] Bodigrim commented on #117
I wonder if it is feasible to use Literate Haskell here to combine code and LaTeX explanations.

[2018-08-02 21:12] rockbmb commented on #117
Definitely, although the reason I did not want to inline LaTeX is because it'll get extremely unwieldy since these expressions are quite complicated.

[2018-08-06 19:34] #111 closed

[2018-08-07 21:19] rockbmb commented on #118
Sounds like an interesting issue, I'll put this in my TODO list.

[2018-08-09 18:10] Bodigrim opened #122 "Sort Gaussian primes by norm"
It is preferable for applications (e. g., trial division) to list Gaussian primes sorted by ascending norm. Currently this is not so:
[code]

[2018-08-10 23:42] Bodigrim opened #123 "Use Chudnovsky rational approximation of pi^2 for zetasEven"
To evaluate Riemann zeta function on even arguments (`zetasEven`) we use formula:
![image](
https://wikimedia.org/api/rest_v1/media/math/render/svg/1620b1201ba2d4d6472301cf6ee7b6df649fce4f)
The main issue here is that for reasonably big `n` we divide one huge number by another one, meaning a catastrophic loss of precision. For instance,

[code]

which does not make any sense, because the zeta func

[2018-08-11 01:42] b-mehta commented on #123
Surely the issue here is in `approximateValue` from ExactPi, rather than in `zetasEven`? Specifically, `zetasEven` returns an exact value, and the loss of precision occurs when converting the exact value into a Double.

[2018-08-11 03:25] rockbmb commented on #123
:+1: for loss of precision in Dirichlet beta. The code introduced by #120 works, but not very well. Error propagation from `zetasOdd` and `zetasEven` is quite strong.

[2018-08-11 22:16] Bodigrim commented on #123
Cool!

@b-mehta do you know any rapidly converging rational series for `pi`? If yes, then we could possibly combine it with Chudnovsky algorithm for `pi^2` and squeeze them together into `exact-pi` instead of [Data.ExactPi. rationalApproximations](https://github.com/Bodigrim/exact-pi/blob/master/src/Data/ExactPi.hs#L103).

[2018-08-11 22:33] b-mehta commented on #123
@Bodigrim I don't know of any off the top of my head, but I'll research. In the meantime, I've just pushed to b-mehta/arithmoi@23b385d for a solution which should work if the answer turns out to be no: I've made a datatype `ExactPiSq` as a simple analogue to `ExactPi` along with a new `approximateValue` which uses Chudnovsky's algorithm to get the best approximation for a given Fractional instance

[2018-08-11 23:44] #122 closed

[2018-08-12 00:31] b-mehta commented on #123
One possible solution would be to use Chudnovsky's algorithm directly, and use a rational approximation to the square root using continued fraction convergents which is easy to calculate and should be fairly easy to accelerate also.

[2018-08-12 12:53] b-mehta commented on #119
I'm happy to take this on. My current idea is to store a DirichletCharacter mod n as follows: A Dirichlet Character is determined by its values on generators of the group of units mod n. So for a given n we factorise it and find generators of its unit group using `Moduli.PrimitiveRoot` and the chinese remainder theorem. On these generators we can freely define the values of the Dirichlet character

[2018-08-12 22:27] Bodigrim commented on #119
Since `cyclotomic` utilizes `arithmoi` for factorisation, we cannot reuse `Cyclotomic` type. Because otherwise it would cause a circular dependency between packages. This is not a big deal, we can represent a root of unity `exp(2pim/n)` as `RootOfUnit { m :: Natural, n :: Natural }` or something similar.

It would be desirable to have a unique representation for each Dirichlet character. From this

[2018-08-12 22:47] Bodigrim commented on #123
Looks awesome!

The approach with rational approximation to the square root sounds reasonable.

I suggest passing comparison function `a -> a -> Bool` to `getRationalLimit` as an argument and do not rely on `Eq` instance. This is not only more flexible in terms of precision, but is also a cure against `NaN /= NaN` thing, which is a common reason for fix-point evaluations cycling forever.

[2018-08-12 22:50] #117 closed

[2018-08-12 22:59] b-mehta commented on #119
The root of unity representation sounds fine to me.

The choice of primitive roots is not necessarily as simple as you describe, since the modulus may not form a cyclic group of units. For instance, mod 35 the group of units is isomorphic (under CRT) to (Z/5Z)* x (Z/7Z)* and thus is generated by the pairs (2,1) and (1,3) since 2 generates (Z/5Z)* and 3 generates (Z/7Z)* (and are the smallest such)

[2018-08-12 23:09] b-mehta commented on #123
Sounds good, I'd like to do some numerical testing myself before making changes in `exact-pi`, but the modifications to `getRationalLimit` sound good. Would it be better to move the Chudnovsky work here to that repo instead?

[2018-08-12 23:12] Bodigrim commented on #123
Yes, IMHO Chudnovsky algorithm itself fits into `exact-pi` better.

[2018-08-12 23:44] rockbmb opened #125 "Implement Hurwitz Zeta function"
After #44 and #120, both the [Riemann zeta function](https://en.wikipedia.org/wiki/Riemann_zeta_function) and the [Dirichlet beta function](https://en.wikipedia.org/wiki/Dirichlet_beta_function) have been implemented.

The [Hurwitz zeta function](https://en.wikipedia.org/wiki/Hurwitz_zeta_function) is another important function that can be used to define both the Riemann zeta and the Dirichlet bet

[2018-08-12 23:45] rockbmb commented on #125
I'll assign myself to this issue, but if anyone else wants to work on it, please go ahead.

[2018-08-16 03:27] rockbmb commented on #111
@Bodigrim

Don't you mean

?

I'm revisiting this issue because it seems there is no such algorithm for Eisenstein integers as there is for Gaussian integers. It seems someone will have to discover it.

[2018-08-16 18:44] Bodigrim commented on #111
Yes, I meant a^2+b^2 = p = 4k + 1.

Basically, `findPrime` for Gaussian integers consists of two steps:
* Find one of roots of the quadratic equation `norm (z :+ 1) = 0 (mod p)`.
* Return `gcd (p :+ 0) (z :+ 1)`, which is a Gaussian prime.

Since for Gaussian integers `norm (z :+ 1) = z^2 + 1`, we have `z = sqrt(-1) (mod p)`. For Eisenstein integers it is not that straightforward, but I believe on

[2018-08-16 22:11] rockbmb commented on #111
@Bodigrim so, for Eisenstein integers, what we need is to

- Find one of the roots of the quadratic equation `norm (z :+ 1) = 0 (mod p) <=> z^2 - z + 1 = 0 (mod p)`.

I'll look into this.

[2018-08-17 17:54] Bodigrim opened #128 "Euclidean rings"
This is to avoid messy `div{E,G}`, `mod{E,G}`, `gcd{E,G}` (cf. the implementation of Gaussian integers and #121) and unify them with `div`, `mod`, `gcd` for usual `Integral` types.

[code]

Then we can replace `Integral` constraint with `Euclidean` in `Math.NumberTheory.GCD`, `Math.NumberTheory.Prefactored` and `Math.NumberTheory.SmoothNumbers`, making them both more general and applicable to quad

[2018-08-17 19:19] Bodigrim opened #129 "Modular equations"
Provide high-level functions to solve linear and quadratic equations by modulo.

Implement `solveLinear` satisfying `propLinear` and `solveQuadratic` satisfying `propQuadratic`.

[code]

Applications: `solveLinear` can be used instead of `solveCongruence` in #110, `solveQuadratic` may be used to solve `norm (z :+ 1) == 0` in quadratic fields (Gaussian, Eisenstein, etc.) for purposes discussed in #

[2018-08-17 23:13] b-mehta commented on #73
Additionally, quadratic integers have periodic continued fractions so it would be nice to have this too - and then Pell equation solutions can be added.

[2018-08-18 17:46] rockbmb commented on #128
@Bodigrim Sorry, minor nitpick: where there's Eucledian, there should be Euclidian.

[2018-08-18 21:03] rockbmb commented on #128
@Bodigrim this is probably outside the scope of this package, but what do you think of the viability of this issue being part of a larger plan of including class inclusions from commutative rings and integral domains all the way to fields?

[2018-08-19 04:00] rockbmb commented on #111
@Bodigrim

I forgot to ask, did this mean the two steps you described in this issue's first post will not be enough? Or that they are enough, but some parts of them will not be so simple as they were for Gaussian integers? I.e. Having to solve a not-so-trivial `z^2 - z + 1 = 0 (mod p)`?

[2018-08-19 13:31] Bodigrim commented on #111
Well, I have not tested it and I do not know any references, but I believe that the only difference is to solve `z^2 - z + 1 = 0 (mod p)` instead of `z^2 + 1 = 0 (mod p)`.

[2018-08-19 15:12] Bodigrim commented on #128
It seems every Haskell developer gets this temptation at some moment, fascinated by divine simplicity of `Semigroup` and `Monoid` and frustrated by arbitarary choice for `Num` and `Integral`.

My opinion is that certainly there are algebraic structures, which fits programming idioms nicely and they are the simplest one. Everything else, starting from rings, has so many different species, that the

[2018-08-19 18:05] rockbmb commented on #111
@Bodigrim well, I guess we'll just have to see if `findPrime`s for Eisenstein integers will produce what we want or not, after it's written.

[2018-08-21 01:00] b-mehta commented on #73
Fair enough!

[2018-08-21 01:03] b-mehta commented on #128
I'm unsure about `quotRem` in this case - in the general Euclidean case it's clear what `divMod` means (using the Euclidean function) but since we may not be in an ordered ring it's unclear what `quotRem` would represent.

[2018-08-21 15:03] Bodigrim commented on #128
Valid point. Up to my understanding even in Gaussian ring there are more than two ways to define division with remainder, truncating to different directions by both axis. So may be it is worth to define only `divMod`, but I have not thought much about it yet.

[2018-08-21 15:14] b-mehta commented on #128
Yes, I think defining only `divMod` is the best option. I suspect we can make a canonical choice of which division with remainder to take: In fact if every division is unique then the ring is actually a field or the polynomial ring of a field.

Additionally, Euclidean domains are unique factorisation domains, so it may be possible to extend in that direction also.

[2018-08-21 21:22] Bodigrim commented on #129
I'll assign myself to this issue.

[2018-08-21 23:10] rockbmb commented on #128
I agree with defining only `divMod`, but how will that help in reducing `quotRem/quot/rem{G,E}` clutter? These functions will still need to be duplicated.

[2018-08-22 05:16] b-mehta commented on #129
@Bodigrim For efficient implementation of `solveQuadratic` for prime powers, Hensel's lemma is likely a good approach (and of course for other composites, the Chinese remainder theorem will reduce the problem to this case).

[2018-08-28 20:36] #129 closed

[2018-08-29 16:44] rockbmb commented on #128
@Bodigrim after #121 is merged, I'll work on this as well. Can you please answer :arrow_up:

[2018-08-29 18:34] #118 closed

[2018-08-29 19:18] Bodigrim commented on #128
On one side I do not think that someone used `quotRem*` functions a lot. On the other side they are _slightly_ faster than `divMod*`.

For now let us implement both `quotRem` and `divMod`. At least we will be able to provide a backward compatible API for `GaussianIntegers`. There are enough breaking changes for one release and it is better do not break everything at once :)

The difference may be

[2018-08-29 22:47] rockbmb commented on #128
@Bodigrim Makes sense. I'll start working on this.

[2018-09-10 17:44] #128 closed

[2018-09-10 17:48] Bodigrim opened #134 "Integrate doctests"
There are `doctest` examples in haddock documentation here and there. It would be nice to test their correctness automatically, because otherwise they quickly fall out of sync.

[2018-09-10 17:51] rockbmb commented on #125
@Bodigrim I have not forgotten about this issue, will tackle it next. In fact, @b-mehta you've been contributing to the package recently as well, if you have any ideas or suggestions I'll listen.

Afterwards, I plan on doing #79 and #107, but I'll take my time.

[2018-09-11 19:38] rockbmb commented on #134
Perhaps this can be a step that is added to CI before or after `cabal (new-)test` is run.

[2018-09-12 00:25] b-mehta opened #136 "Optimisation of discrete logarithms"
Continuing work and discussion from #130, it would be nice to both optimise Pollard's algorithm further using more sophisticated walks and possibly use the Pollig-Hellman algorithm in some cases. See `TODO` comments in `Math.NumberTheory.Moduli.DiscreteLogarithm`.

[2018-09-12 00:26] b-mehta commented on #119
Once #130 is merged, I plan to work on this in parallel with #136.

[2018-09-12 07:41] #88 closed

[2018-09-17 23:35] Bodigrim commented on #73
Just for reference, I pushed some commits, reflecting my vision of quadratic rings, to https://github.com/ion1/quadratic-irrational/blob/c58c0fba08272c7e9fdff9fe8e338cff4d766ced/src/Numeric/QuadraticIrrational/Ring.hs

[2018-09-19 00:13] Bodigrim opened #137 "Smooth Gaussian and Eisenstein numbers"
We say that the number `n` is `B`-smooth if `n` can be represented as a product of powers of elements of a set `B`. Module `Math.NumberTheory.SmoothNumbers` contains functions to deal with smooth numbers. It currently supports `Integral` types only. It would be nice to extend this notion to any `Eucledian` type, including `GaussianInteger` and `EisensteinInteger`.

The main issue is that there is

[2018-09-20 21:11] rockbmb commented on #137
Sounds interesting, I'll take a look.

[2018-09-21 17:50] rockbmb commented on #137
@Bodigrim it seems `smoothOverInRangeBF` requires an `Enum` instance, which can't be sensibly defined for `Gaussian/EisensteinInteger`. Unless they're restricted to the first quadrant/sextant, respectively.

[2018-09-21 20:45] Bodigrim commented on #137
True, `smoothOverInRange` will remain constrained by `Integral a`. But one will be able to filter a list of `GaussianInteger` (for instance, rectangle or circle on a complex plane) by `isSmooth`.

(Actually, I've been thinking to deprecate `smoothOverInRangeBF` once we have `isSmooth`).

[2018-09-23 17:35] #87 closed

[2018-09-23 18:30] b-mehta opened #139 "Factorisation including units"
Is it possible to have something like
[code]
for which the second argument is the remaining unit, with the invariant

[code]

and ```snd (factorise' n)``` is always a unit?

The invariant for `factorise` is significantly weaker, since `3+4i` and `5` have the same absolute value in the Gaussian integers, but ought to have different factorisations, so just checking that
[code]
seems disappointing fo

[2018-09-23 18:35] Bodigrim commented on #69
It is time to revive the issue. I have just stopped supporting GHC < 8.0, which means that one can use [timesNat](http://hackage.haskell.org/package/constraints-0.9.1/docs/Data-Constraint-Nat.html#v:timesNat) and [gcdNat](http://hackage.haskell.org/package/constraints-0.9.1/docs/Data-Constraint-Nat.html#v:gcdNat), which can be used to provide `KnownNat` instances as described [here](https://github

[2018-09-23 20:41] cartazio opened #140 "revised base dep to be >= 4.8"
wasn't building with 7.8, so i revised the current release to have >=4.8, but we should fix this for the next one :)

[code]

[2018-09-23 21:09] Bodigrim commented on #139
It is true that `norm 5 == norm (3 + 4i)`, but `abs 5 /= norm (3 + 4i)`.

[2018-09-23 21:53] b-mehta commented on #139
Ah fair point, my mistake. I still feel like this may be a valuable function in any case.

[2018-09-23 22:17] Bodigrim commented on #140
Done, thanks for noticing this.

[2018-09-23 22:17] #140 closed

[2018-09-24 13:42] rockbmb commented on #114
Is this still relevant? I see that [15350](https://ghc.haskell.org/trac/ghc/ticket/15350) has been closed.

[2018-09-25 21:32] rockbmb commented on #73
@Bodigrim I understand why you opened the issues you did over the past few months, things have been nicely progressing towards this issue. Point 2 seems the hardest, I agree. Plus for some values of `D` the quadratic integer ring won't be a Euclidean domain, or a Unique factorization domain. Tricky. I'll give it some more thought.

[2018-09-25 21:49] Bodigrim commented on #114
Yes, it has been fixed in GHC 8.6.1. I still have to benchmark it and decide whether to use `Math.NumberTheory.GCD.extendedGCD` only for `Integer` or (if it is much faster even for small numbers) for other `Integral` types as well.

[2018-09-25 22:37] Bodigrim commented on #139
Do you have any particular use case in mind? In my personal experience such function was rarely needed.

[2018-09-26 20:53] Bodigrim opened #141 "Generate squarefree/cubefree/etc. numbers"
A number is called n-free if its factorisation contains no prime powers larger or equal to n. For example, 30 = 2 * 3 * 5 is 2-free (square-free), 3-free (cube-free), etc.; 12 = 2 ^ 2 * 3 and 18 = 2 * 3 ^ 2 are not square-free, but are cube-free; 1000 is not even cube-free, but is 4-free.

It would be nice to implement two new functions:

1. Predicate `isNFree :: Word -> ArithmeticFunction a Bool`

[2018-09-29 10:12] #137 closed

[2018-09-29 13:50] rockbmb commented on #139
If the unit is necessary, can't one just do

[code]

since `factorise = factorise . abs`?

[2018-09-30 15:50] b-mehta commented on #139
That approach sounds reasonable - seems like I didn't think this through well enough. Thanks both.

[2018-09-30 15:50] #139 closed

[2018-09-30 16:04] Bodigrim commented on #139
Even if `n == abs n`, it is not guaranteed that `product (map (\(p, k) -> unPrime p ^ k) (factorise n) == n`. For example, take `n = 2 :: GaussianInteger`. We have `factorise n = [(Prime 1+ι,2)]`, but `(1+ι)^2 = 2*ι /= 2`.

[2018-09-30 17:33] b-mehta commented on #139
@rockbmb Right - my initial concern had been that this approach requires actually computing the product again which could be more costly than necessary if `factorise` throws away the unit information anyway.

@Bodigrim I don't have a use case in mind, it just struck me as odd that the units were thrown away, given that the statement of unique factorisation I'm used to gives something like `n = u p

[2018-09-30 21:56] Bodigrim commented on #139
For `Int`/`Word`/`Integer`/`Natural` one can just take `signum` of an argument, as pointed above by @rockbmb. It is true that things get more complicated for quadratic fields, but here tracking of units is not actually free of charge, it makes factorisation algorithm more involved. I believe that for most of applications one can spend time reconstructing the product back.

[2018-10-01 17:38] CarlEdman opened #144 "Spelling Bug in Module Name Math.NumberTheory.Recurrencies"
While "currency" pluralizes to "currencies," "recurrence" pluralizes to "recurrences."  See [Wiktionary](https://en.wiktionary.org/wiki/recurrence).  English is not my native language, so whoever misspelled this has not only my sympathy but shared pain at the intricacies of English spelling.

That said, a fix, if deemed worthwhile, should probably keep the old modules around, just importing and re

[2018-10-01 17:40] rockbmb commented on #141
Will submit a PR for this today.

[2018-10-01 17:52] rockbmb commented on #141
@Bodigrim by the way, there was a small issue with markup in your first comment, some parts of it render as italic. Probably because of not spaces between the `*` character.

[2018-10-01 19:52] rockbmb commented on #144
It'll be a little painful to keep two versions of the same module around... Thanks for the heads-up!

[2018-10-01 20:06] Bodigrim commented on #144
This is my fault, thanks for reporting :)
Yes, I believe re-exporing is a way to go, even if painful.

[2018-10-01 20:19] rockbmb commented on #141
@Bodigrim I'm not sure how to efficiently implement `nFrees` for ALL prime factors, using an algorithm like to the one in `smoothOver` but with `primes` instead of a smooth basis doesn't work. I'll keep thinking, but this seems non-trivial.

[2018-10-01 20:35] Bodigrim commented on #141
Basically, one can reuse [runFunctionOverBlock](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/ArithmeticFunctions/SieveBlock.hs#L60) or - for the sake of performance - re-implement it, following the same approach.

[2018-10-01 22:12] rockbmb commented on #141
@Bodigrim I didn't even consider `filter (runFunction (isNFree n) x)`, although for good reason - not very efficient. I'll just push it as a first version.

[2018-10-03 19:39] #144 closed

[2018-10-16 19:15] tau3 commented on #79
Hello!

I'd like to try and implement this feature if nobody is currently working on it. Could you give me a hint on `castSTUArray` - what is the similar function for `STVector`?

[2018-10-16 21:34] Bodigrim commented on #79
`castSTUArray` is basically `return . unsafeCoerce`, no more no less. But in fact we should get rid of `castSTUArray :: STUArray s Int Bool -> ST s (STUArray s Int Word))` at all.

The thing is that this code in `arithmoi` is based upon a assumption that `Array a Bool` is a tightly-packed bit sequence, 8 `Bool` per byte, 32/64 `Bool` per machine word. This assumption is not guaranteed in general a

[2018-10-17 06:13] tau3 commented on #79
@Bodigrim
Thanks for explanation!

@rockbmb
I have already refactored `MoebiusInversion` and `Cubes`, please take it if you need 😄

[2018-10-17 21:19] rockbmb commented on #79
@tau3 I have some code that may be useful to the issue, I'll push it to a branch in my fork and you can see if it'll help you.

[2018-10-19 21:30] #125 closed

[2018-10-19 23:01] rockbmb commented on #114
@Bodigrim what happened? I see here you committed d8f21ca, closed the issue, reverted d8f21ca and the reopened it. Is there a problem with `gcdExtInteger`?

[2018-10-21 00:43] Bodigrim commented on #114
Yeah, unfortunately there is one more bug, discovered by more thorough QuickCheck testing. I reopened https://ghc.haskell.org/trac/ghc/ticket/15350

[2018-10-22 17:50] #69 closed

[2018-11-24 21:50] #141 closed

[2018-11-26 22:22] Bodigrim commented on #134
It is difficult to say, but I tend to release twice a year. So if nothing changes, next release is April 2019.

[2018-12-04 00:52] rockbmb commented on #107
@Bodigrim I don't mind benchmarking it to see if there's an improvement worth introducing an another dependency for.

[2018-12-08 16:51] Bodigrim opened #148 "Inverse the Jordan and the sum-of-powers-of-divisors functions"
Once #142 gets merged, one can generalize `invTotient` to cover not only the totient, but the whole family of Jordan functions `jordan`. And generalize `invSigma` to invert `sigma k` for any `k` (current implementation covers only `k = 1` case).

[2018-12-08 21:30] rockbmb commented on #47
Has anything changed with this issue? I see here that haskell/random#31 is still open.

[2018-12-08 23:38] Bodigrim commented on #123
Yes, if nothing happens I will proceed with my fork.

[2018-12-10 22:01] Bodigrim commented on #123
I managed to upload `exact-pi-0.5.0.0` with @b-mehta's improvements to `rationalApproximations`.

[2018-12-11 19:41] rockbmb commented on #123
The issue has been merged, I'm guessing we can proceed with a PR to improve `zetas`.

[2018-12-23 05:32] rockbmb opened #149 "Computing the partition function for a single value"
After #107, this library now offers a way to calculate a contiguous sequence of values of the [partition function](https://en.wikipedia.org/wiki/Partition_function_(number_theory)).

However, for a large, isolated `n`, this is impractical because all values up to this `n` have to be calculated, and as stated [here](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/Recurrences/Pent

[2018-12-23 10:57] Bodigrim commented on #149
Yeah, it sounds very interesting.

[2018-12-23 18:44] rockbmb commented on #149
As a first observation, the calculation of `p(n)` requires `O(n^1/2)` bits, so `Double` is out of the question. `Data.Numbers.Fixed` from `numbers` is an alternative, though the `Prec` datatypes will need to be generalized to allow for different precision fixed point numbers (similar to the PR I made for [Data.Fixed](https://github.com/ghc/ghc/pull/196)).

[2018-12-23 19:57] Bodigrim commented on #149
Maybe try bindings to MPFR?
http://hackage.haskell.org/package/hmpfr
(API is horrible, I wonder if one can have proper Num and Floating instances, storing RoundMode and Precision on type level)

[2018-12-24 04:12] rockbmb commented on #149
@Bodigrim I was taking a closer look at MPFR, and yes, the API is not very nice to work with. I'm currently working through the paper, and it seems the most troublesome terms are those at lower indices, which require a lot of precision.

I also see plenty of mentions to floating precision (some to MPFR), I'll have to get a better understanding of the paper because I don't yet understand how 64-bit

[2018-12-25 01:17] Bodigrim opened #151 "Count numbers, coprime with a given one"
It would be desirable to have an efficient implementation of the following function:

[code]

(Or maybe I am missing something and this can be easily expressed via existing functions?)

[2018-12-25 05:07] rockbmb commented on #149
@Bodigrim I've only taken a cursory look, but there's [this](https://github.com/ekmett/rounded) alternative to hmpfr. Have you seen this before? The type literals idea is basically what I had in mind, but much more polished.

[2018-12-25 14:10] Bodigrim commented on #151
Here is a draft implementation plan for anyone willing to take a stab:

1. Implement in an efficient way:

[code]

    Bonus points if it is productive on an infinite input list.
    Extra bonus points if it satisfies a prefix property:

[code]

2. Define

[code]

    For example, `bar 2 [2, 3, 5] = [6, 10, 15]`.

3. Implement `countCoprimes n` by finding prime factors of `n` and using [inclusion-

[2018-12-25 14:13] Bodigrim commented on #149
`rounded` looks nice, but I have not used it.

[2018-12-25 17:32] CarlEdman commented on #151
Well, here is a trivial, but I think probably reasonably efficient, implementation of foo:
[code]

[2018-12-27 02:18] rockbmb commented on #151
@Bodigrim isn't this Euler's totient function?

Isn't this an infinite quantity unless we bound it by e.g. asking only for numbers up to the given one, thereby arriving at the definition of Euler's totient function?
I think I'm missing something.

[2018-12-27 02:40] b-mehta commented on #151
@rockbmb `countCoprimes n m` should be the numbers between `0` and `m` which are coprime to `n`, so `countCoprimes n n == totient n`. That said, `countCoprimes n m` should be a simple function of `countCoprimes n (mod n m)`.

[2018-12-28 20:12] Bodigrim opened #152 "Prefactored binomial coefficients"
There are applications, when it is desirable to represent binomial coefficients [`binomial`](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/Recurrences/Bilinear.hs#L65) via their factorisation. Binomials easily get huge, so it is vastly inefficient to compute them as numbers first and [`factorise`](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/UniqueFactori

[2018-12-28 23:33] Bodigrim opened #154 "Improve return type of isPrimitiveRoot'"
Since `PrimitiveRoot a` is an abstract data type with a hidden constructor (#130), function `isPrimitiveRoot' :: CyclicGroup a -> a -> Bool` is pretty much useless: even if it returns `True`, there are no means to use this boolean as an evidence to construct a `PrimitiveRoot` value. And the only way to get `PrimitiveRoot` is using `isPrimitiveRoot :: Mod n -> Maybe (PrimitiveRoot n)`, which runs (

[2018-12-30 20:49] Bodigrim opened #155 "Cubic reciprocity law"
It may be fun to extend [Math.NumberTheory.Moduli.Jacobi](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/Moduli/Jacobi.hs) to cover not only [quadratic reciprocity](https://en.wikipedia.org/wiki/Quadratic_reciprocity), but [cubic](https://en.wikipedia.org/wiki/Cubic_reciprocity) as well.

Quadratic reciprocity symbol or [Jacobi symbol](https://github.com/cartazio/arithmoi/blob/

[2018-12-31 04:55] b-mehta commented on #154
I strongly agree. A large part of this issue is that `PrimitiveRoot` has an associated modulus on the type level but `CyclicGroup` does not, so we cannot return a `PrimitiveRoot` immediately from a `CyclicGroup`. I suspect an appropriate resolution might need to modify one or both of the types `CyclicGroup` and `PrimitiveRoot`.

[2018-12-31 19:18] Bodigrim commented on #154
As a palliative measure we may add a semantic equivalent of `fmap isPrimitiveRoot`, which constructs a `CyclicGroup` only once per list of arguments. At least, this will greatly speed up the search of the minimal primitive root.

[code]

It seems that a proper solution should include promoting factorisation of modulo to the type level. In this case we can both ensure type safety (that `m` from `Mo

[2018-12-31 19:45] b-mehta commented on #154
This sounds like a reasonable temporary fix.

In experimenting for #119 I tried modulo factorisation on the type-level, and it came out fairly unwieldy and impractical: as far as I can tell, we would effectively need a type-level proof of the fundamental theorem.

[2019-01-01 17:17] Bodigrim commented on #154
Sounds like a challenge :)

[2019-01-05 16:16] Bodigrim commented on #73
Updated description to confirm with recent directions of development.

[2019-01-05 19:34] Bodigrim commented on #123
I patched `arithmoi` to benefit from `rationalApproximations`. It has an immediate effect even for `Double`. For example, `betas 1e-15 !! 31` gives a correct value of 0.9999999999999983 instead of 0.9999999999999976 previously.

@b-mehta thanks for valuable contribution!

[2019-01-05 19:34] #123 closed

[2019-01-05 19:40] Bodigrim commented on #47
I am keen to close this issue, because there are no action points. When `random-2.0` will be available, we'll definitely see if anything is broken and requires fixing. In fact, since `arithmoi` makes only a shallow use of random numbers, I expect that it will be still compatible.

[2019-01-05 20:03] Bodigrim commented on #70
I grabbed Faulhaber polynomials and merged them into `arithmoi`. @CarlEdman  thanks for contributions!

At the moment I am not in favor of immediate inclusion of other polynomials, discussed above, due to their relatively low significance for number theory.

[2019-01-05 20:03] #70 closed

[2019-01-05 20:13] cartazio commented on #47
There’s gonna be 1-2 breakages but I’ll be doing a release pretty shortly.
Got it mostly done New Year’s Eve. But yeah any breakages will be obvious.

The core breakages will be improving perf, quality and reproducibility

On Sat, Jan 5, 2019 at 2:40 PM Bodigrim <notifications@github.com> wrote:

[2019-01-05 20:32] cartazio commented on #47
But yeah. Close at your leisure.  The release will be noticeable.

On Sat, Jan 5, 2019 at 3:12 PM Carter Schonwald <carter.schonwald@gmail.com>
wrote:

[2019-01-05 23:40] Bodigrim commented on #47
Great!

[2019-01-05 23:40] #47 closed

[2019-01-05 23:50] #100 closed

[2019-01-06 03:41] rockbmb commented on #123
@Bodigrim That's great. Thanks for doing the change yourself.

[2019-01-07 00:14] Bodigrim opened #157 "Implement the sieve of Atkin"
[Our implementation](https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/Primes/Sieve/Eratosthenes.hs) of Eratosthenes sieve is notoriously difficult to read. It has been heavily optimized long time ago and I have no clue if these patterns still make sense for modern GHCs and modern PCs. It is also quite possible that bugs are lurking in dark corners. I tried to disentangle it a cou

[2019-01-07 00:48] Bodigrim commented on #79
I picked some low-hanging fruits in 9c901536c713fd96e94fc7c2237c39ada2cb88c7 and b6e114511bfcf5cabf83f4e157d0940d422bbbd5. See #157 for discussion about vectors for sieves.

[2019-01-07 00:48] #79 closed

[2019-01-07 00:57] rockbmb commented on #79
@Bodigrim did this change introduce any changes in benchmarks? I've always been curious as to which is generally faster, `Array` or `Vector`, although this example might be too simple to give correct answers.

[2019-01-07 01:19] Bodigrim commented on #79
We do not have benchmarks for these parts of the project.

In `M.NT.Powers.*` we use arrays to construct lookup tables. Once they are constructed, lookups time should take pretty much the same time both for `array` and for `vector`.

There are might be some differences for `M.NT.MoebiusInversion`, but I doubt it. We do not use any advanced features from either package which may differ in inlining,

[2019-01-08 18:12] b-mehta commented on #154
I've sketched a possible new type structure to fix this in #158, but it would be a breaking change if it fully replaces the existing CyclicGroup. Also, the structure I describe is restricted to Natural, but I do not think this is much of a restriction.

[2019-01-08 20:06] Bodigrim commented on #154
I am fine with breaking changes here.

[2019-01-08 21:55] b-mehta commented on #154
In that case, shall I continue with the PR and propagate the change through tests and benchmarks, replacing the existing structures?

[2019-01-09 02:41] Bodigrim commented on #154
Yes, please proceed.

I am not totally convinced in design of `CyclicGroup` at the moment, but let us see how it unfolds. Restriction to `Natural` is not very cool (because we rarely have groups larger than 2^64), but should not harm performance since discrete logarithms are tied to `Integer` anyways. And putting modulo on type level of `CyclicGroup` makes impossible constructing lists of cyclic g

[2019-01-09 16:42] b-mehta commented on #154
I'm similarly unsure about the design. Perhaps we could parametrise by the type, for something like `CyclicGroup a (n :: Nat)`, where `a` will typically be `Natural` or `Word`?

My suspicion is that it might possibly be nice to construct such a list eventually, since we can store the structure of multiplicative groups as a product of cyclic groups.

I'll submit a PR for Dirichlet characters soon,

[2019-01-10 01:44] Bodigrim commented on #154
I've been exploring the idea of singletons in https://github.com/cartazio/arithmoi/commit/8ecb8e904eb1ac50a35d9d6b3d7844b7633e0b8a. They fit nicely for `M.NT.Moduli.Equations` and `M.NT.Moduli.Sqrt`.

[2019-01-24 18:43] CarlEdman opened #160 "Curious Performance Bug with Moduli and product"
Compare these two codes:
`main = print $ product [1..10^7::Mod 1000000007]`
and:
`main = print $ foldl' (*) (1::Mod 1000000007) [1..10^7]`
These should be equivalent and indeed they both produce the same (correct) result.

But the runtimes are dramatically different.   I've attached the full results below, but the highlights are:

- The foldl' version allocates 1.4 GByte on the heap, the product v

[2019-01-24 19:51] CarlEdman commented on #160
FWIW, I forgot to mention that my environment is Haskell Platform 8.4.3 (i.e., ghc 8.4.3), I'm running arithmoi 0.8.0.0, compile with flags `-O2 -optc-O3 -funfolding-use-threshold=16 -fexcess-precision -Wall -Wno-type-defaults -Wno-unused-imports -Wno-unused-top-binds -rtsopts`, and run with flags `+RTS -M12G -s`.

[2019-01-25 00:48] Bodigrim commented on #160
`product` is defined in `base` as `foldl (*)`, so there is not much control over its behaviour from library's side. Sometimes GHC can infer that the data is strict, making `foldl` effectively equivalent to `foldl'`, but for some reason it does not for `Mod`. Putting bangs might help.

Could you please check your observations (expecially comparison against `Word`) in GHC 8.6? Internally `Mod` is re

[2019-01-26 23:03] CarlEdman commented on #160
By the way, please accept my apologies if I sound over-critical.  Actually matching the performance of Integer with Mod is very impressive and good enough that I'll switch to using it for all but the most performance-sensitive of my code.  That the Word code is still three times faster is testament to the quality of the GHC optimizer; that code apparently does no heap allocation, however ephemeral

[2019-01-29 20:19] Bodigrim commented on #160
No need to apologise, everything is fine. Sorry, I have a limited bandwidth these days.

[2019-01-29 21:18] Bodigrim commented on #160
I managed to help GHC recognise that multiplication is strict in both arguments, so now `product` and `foldl'` take the same time.

[2019-02-03 22:58] Bodigrim commented on #160
I made an attempt to grab some low-hanging fruits. @CarlEdman could you please benchmark?

[2019-02-06 22:09] CarlEdman commented on #160
Thanks much!

I tried installing the github head version of arithmoi on my Haskell machine, but between it being a Windows machine running Haskell Platform and me being about as far from a cabal wizard as it is possible to be, I failed with some apparent incompatibilities in the semirings dependency.

As it looks like I'm too fumble-fingered to install Haskell package except from hackage release,

[2019-02-06 22:09] #160 closed

[2019-02-06 23:40] Bodigrim commented on #160
I benchmarked it roughly on my machine. It used to be 4.1 sec for `foldl'` of `Mod 1000000007` and 1.1 sec for `Word`. Now it takes 2.6 sec for `Mod 1000000007` (both for `foldl'` and for `product`).

I also executed a test with `newtype SmallMod (m :: Nat) = Mod Word` and it took 1.7 sec. It seems that 1.5x slowdown is caused purely by keeping modulo on type level in a boxed form (unfortunately,

[2019-02-14 19:30] CarlEdman commented on #151
I happened to need something like this for another problem, so I constructed a foo which also fulfills the extra bonus property
[code]

Note that foo3 takes a single argument, a potentially infinite list.  Its result is a list of list of subsets of its argument.  In other words, rather than `foo k xs`, you do` (foo xs)!!k`.

Note also that the elements in the subsets appear in reverse order from t

[2019-02-16 20:40] Bodigrim commented on #151
Sounds amazing! Sorry, I am a bit overloaded at the moment, will take a look next week.

[2019-02-18 17:54] CarlEdman commented on #151
On of my OCDs is that once I get set on a simple Haskell problem which ought to be encapsulated in a reusable function, my mind just gnaws at it until it has achieved its most pure form.  In that spirit, I offer `foo4` which should be identical to `foo3` in output, but is a bit more concise:

[code]

For `pascalTriangleTranspose` a generally useful function, you can use one of these:

[code]
or
[c

[2019-02-18 21:32] rockbmb commented on #151
@CarlEdman for `pascalTriangleTranspose`, the third alternative seems clearer, although I cannot comment on its performance.

[2019-02-18 22:02] CarlEdman commented on #151
@rockbmb Yes, the third is my favorite too.  It is clean and simple and performs just a single integer addition to generate each element, while the first one looks messier and does a multiply and a divide for every element.

And yet, when I benchmarked them against each other, the first one was marginally, but consistently faster.  Otherwise I would not even have included it.

The difference is to

[2019-02-18 23:40] rockbmb commented on #151
@CarlEdman a nice alternative would be to use the first, but add a comment above it that says: `Equivalent to iterate (tail . scanl' (+) 0) (repeat 1)`. One gets simplicity in the explanation, and increased performance in practice.

[2019-02-18 23:54] Bodigrim commented on #151
This is really beautiful!

The choice between first and third implementations of `pascalTriangleTranspose` is the same as for `binomial` (https://github.com/cartazio/arithmoi/blob/master/Math/NumberTheory/Recurrences/Bilinear.hs#L66). The third one looks nicer, but you need to retain the whole structure in memory, while in the first one sublists are completely independent.

[2019-02-23 15:14] CarlEdman commented on #151
Very nice!  And I should have used binomial.  My near-identical homebrew pascalTriangle is a leftover from before arithmoi had the function.   I'm slowly replacing the functions in my own library with usually superior arithmoi functions, but had missed that.

Two points:
1. Could I suggest adding a binomialTranspose function (from one of the above) to Recurrences.Bilinear?  It comes in useful some

[2019-02-23 19:32] Bodigrim commented on #151
1. Yeah, it seems reasonable. I am thinking about having (note the difference in constraints)

[code]

\+ #152 to compute individual binomial coefficients efficiently.

2. I am not aware of any reasonable definition for `Integral (Mod m)`.

[2019-03-04 01:06] CarlEdman opened #161 "Order of primes in factorise"
I realize now that this is not actually stated in the documentation, but I always assumed that the primes would be listed in ascending order as they are almost always.  However:

[code]

Is that intended?  Running arithmoi 0.8 on Haskell Platform 8.6.3.

[2019-03-05 20:28] Bodigrim commented on #161
Yes, it is intended. Otherwise one cannot factor huge numbers in a lazy fashion, e. g., `head . factorise`.

[2019-03-06 00:13] CarlEdman commented on #161
If there is an advantage to it, let's keep them returning in non-ascending order.  But perhaps it could be mentioned in the docs that the order of prime factors, while almost always ascending, this is not guaranteed.

I'm a pretty heavy arithmoi user and I didn't know that and hence spent two days tracking down a bug in my code ultimately due to the fact that ```fst.last.factorise``` is not a vali

[2019-03-06 21:05] Bodigrim commented on #161
Sure, it is a good idea to clarify this in docs, thanks for suggestion. Sorry for your troubles.

Small factors below 100000 are found by trial division and thus are always ordered. But when it comes to factorisation over elliptic curves, the order of factors becomes unpredictable. So factors become unsorted only when there are at least two sufficiently big prime factors.

[2019-03-22 20:00] erantapaa opened #162 "Add divisorCount as a synonym for tau"
Even though I use this library a lot I keep on forgetting to use the `tau` function to get the number of divisors of a number.

The index lists a host of functions related to the divisors a number, but it's not clear that it has a divisor count function. I suggest adding a function called `divisorCount` so that this capability may be easily discovered.

[2019-03-22 23:54] Bodigrim commented on #162
Totally makes sense. Do you know how is this function named in other languages/libraries/platforms? Should it be `divisorCount` / `countDivisors` / `numberOfDivisors` / etc.?

[2019-03-22 23:54] #161 closed

[2019-03-27 19:35] Bodigrim commented on #134
It seems that we would not be able to incorporate `doctests` into a regular test suite. Several modules of `arithmoi` use `{#- LANGUAGE UnboxedTuples -#}`, which is incompatible with `ghci`. And since `doctests` uses `ghci` to run snippets, it cannot process the vast majority of modules.

I managed to run `doctests` by temporarily removing `{#- LANGUAGE UnboxedTuples -#}` and fixed most of mismatc

[2019-03-27 19:35] #134 closed

[2019-03-30 21:57] Bodigrim commented on #162
Done, thanks for suggestion.

[2019-03-30 21:57] #162 closed

[2019-04-17 12:56] gilgamec opened #163 "Wrong modulus being used in Mod"
I'm getting a problem where modular operations are being performed with the wrong modulus. An example:
[code]
(The numbers are arbitrary.)

Running from `ghci`, `main` produces the correct answer, 1. When compiled, the answer is `(127 ^ 31336)` modulo one of the primes in `otherTests`. If `otherTests` is commented out, we get the correct answer again. Interestingly, even if only two of the three t

[2019-04-17 18:57] Bodigrim commented on #163
I can reproduce the issue with GHC 8.6.3 and `arithmoi` HEAD.

[code]

This is very weird. Thanks for reporting, I'll investigate it after Easter holidays.

In the meantime, please use `Math.NumberTheory.Powers.Modular.powMod` for modular powers.

[2019-04-17 22:07] Bodigrim commented on #163
Seems to be GHC bug.
Filed as https://gitlab.haskell.org/ghc/ghc/issues/16586

[2019-04-23 23:33] Bodigrim opened #164 "Merge sieveBlock and sieveBlockUnboxed together, backed by Data.Vector.Generic"

[2019-04-26 22:32] Bodigrim opened #165 "Add Ord SomeMod instance"
Following the discussion at https://stackoverflow.com/questions/55367487

[2019-04-28 18:10] #165 closed

[2019-04-28 18:10] #164 closed

[2019-04-28 18:23] Bodigrim opened #166 "Separate Euclidean to its own package"
Type class `Integral`  is completely messed up.

[code]

First of all, `Real` constraint looks really weird. How is it connected to being `Integral`?

Having both `toInteger :: a -> Integer` and `Num.fromInteger :: Integer -> a` means that `a` is isomorphic to a subset of `Integer`.

(Moreover, `Enum.toEnum :: a -> Int` and `Enum.fromEnum :: a -> Int` imply that `a` is no greater than `Int`, which

[2019-05-03 21:16] Bodigrim commented on #166
@chessai does it look like `Euclidean` might find a new home in `semirings`? It has the same kind of relation to `Integral` as `Semiring` has to `Num` :) IMO it is a natural point in a practical design of numeric hierarchy. E. g., `class (Eq a, Ring a) => Euclidean a`.

[2019-05-03 21:27] chessai commented on #166
To me this looks good. A Real constraint is so weird, as you say. I'd be willing to take a PR. Though, per the context of our other discussion, if this was in semirings, we'll probably not ever remove Ring.

[2019-05-05 00:46] cartazio commented on #166
Enum is busted too... :)

[2019-05-05 00:47] cartazio commented on #166
@chessai i suspect the historical origin of the Real constraint has to do with either complex integers and or having ord implied as another constraint?

[2019-05-16 22:36] Bodigrim opened #167 "isSmooth returns incorrect answer"
[code]

[2019-06-04 15:01] gilgamec commented on #152
Since `Coprimes` handles negative exponents exactly as one would hope, it seems that it'd be pretty simple. I'd point out that we can create a `RationalPrefactored`, allowing both positive and negative exponents, which is a full member of `Fractional`:
[code]
It could undoubtedly be made more efficient (in particular, by having `insert` remove factors with zero exponent), but the gist is there.

[2019-06-10 20:55] Bodigrim commented on #152
Yep, `RationalPrefactored` looks cool.

I have a similar draft of `Prefactored` representation of `binomial`, but unfortunately it is too slow. Basically, `Semigroup Coprimes` is not terribly fast (for a good reason) and `(<>)` may take roughly up to `O(n^2)` time. This could be improved by employing the fact that `prefFactors` of factorial consists of primes only. It would be interesting to exper

[2019-06-11 19:32] #166 closed

[2019-06-11 20:05] chessai commented on #166
This makes a lot of sense.

[2019-06-12 20:27] #167 closed

[2019-07-25 22:45] #154 closed

[2019-08-14 22:48] Bodigrim opened #171 "Add Semiring and Ring instances for Mod m"
Plus trivial instances for `GcdDomain`, `Euclidean` and `Field`.

[2019-09-24 22:24] #163 closed

[2019-11-03 01:22] #171 closed

[2019-11-05 19:59] #114 closed

[2019-11-10 19:30] Bodigrim opened #174 "SomeMod: fix (-), add Semirings instances"

[2019-11-15 21:56] Bodigrim opened #175 "Polynomial factorisation"
Maybe it better suits for `arithmoi` than for this package.

Some inspiration might be found in http://hackage.haskell.org/package/toysolver-0.6.0/docs/ToySolver-Data-Polynomial.html#t:Factor

[2019-12-31 20:35] Bodigrim opened #176 "Use chimera package for partition function"

[2020-01-01 16:04] #176 closed

[2020-01-04 17:00] Bodigrim opened #177 "integerRoot hangs"
This computation hangs in `ghci`:

[code]

[2020-01-04 21:24] #177 closed

[2020-01-05 15:34] #174 closed

[2020-01-05 15:54] Bodigrim opened #179 "Expose smallFactors and stdGenFactorisation"
These functions were deprecated, but they still have some users (e. g., https://github.com/grandpascorpion/canon/blob/master/Math/NumberTheory/Internals.hs). Probably we can still expose them back again.

[2020-01-11 23:34] Bodigrim opened #181 "Investigate performance of factorise"
It would be nice to review factorisation of smallish numbers. Are there any low-hanging fruits? A representative benchmark is

[code]

[2020-01-14 00:45] Bodigrim opened #183 "Generate divisors in range"
Implement a function `divisorsInRange from to n`, which returns divisors of `n` between `from` and `to` (inclusively). The naive implementation would look this way:

[code]

This becomes inefficient when `n` has tons of divisors out of `[from..to]` range. It would be desirable do not waste time and memory on generating divisors just to throw them away.

[2020-01-14 13:19] b-mehta opened #185 "Constructing Dirichlet characters"
At the moment, constructing Dirichlet characters from a table is done as follows:
By way of example, let us use modulus 2520 = 2^3 × 3^2 × 5 × 7. Any character of this modulus is then a group homomorphism `(Z / 2520Z)* -> C*`, in particular is specified by the generators of `(Z / 2520Z)*`. We have also that `(Z / 2520Z)* ≅ (Z/8Z)* × (Z/9Z)* × (Z/5Z)* × (Z/7Z)`, so one choice of generating set is g

[2020-01-14 23:08] #119 closed

[2020-01-19 01:08] #181 closed

[2020-01-21 22:38] #149 closed

[2020-02-22 16:23] Bodigrim opened #187 "Type-level Totient function"
I've been thinking recently about implementing something along these lines:

[code]

[2020-03-03 21:57] #148 closed

[2020-03-19 02:17] #179 closed

[2020-03-19 21:42] #152 closed

[2020-03-26 20:03] Bodigrim opened #192 "Implement Cornacchia's algorithm"
Implement Cornacchia's algorithm to solve x^2 + d*y^2 = m, where 1 ≤ d < m and d and m are coprime.

https://projecteuclid.org/DPubS/Repository/1.0/Disseminate?view=body&id=pdf_1&handle=euclid.pja/1116442240

[2020-03-26 20:06] Bodigrim opened #193 "Solve Thue equations"
Develop a routine to solve Thue equations.

https://en.wikipedia.org/wiki/Thue_equation
https://www.sciencedirect.com/science/article/pii/0022314X89900140?via%3Dihub

[2020-03-31 23:21] #183 closed

[2020-05-28 22:54] Bodigrim opened #199 "Fold over multiple SieveBlocks"
TB{A,C,D}

[2020-05-30 18:36] Bodigrim opened #201 "Add Unbox (Prime Int)"
Plus `Prime Int -> Prime Integer`.

[2020-05-31 20:34] #201 closed

[2020-06-01 20:40] Bodigrim opened #205 "Add PrimeIntSet"
A newtype wrapper for `IntSet`, providing similar interface, but without `Data.IntSet.map`.

[2020-06-01 21:01] Bodigrim opened #206 "sqrtsModPrime for Int arguments"

[2020-06-07 13:30] Bodigrim opened #207 "Setup coverage and hlint on Travis"
Doctests would be great as well.

[2020-06-09 00:02] #205 closed

[2020-06-14 14:52] #207 closed

[2020-07-19 16:50] #192 closed

[2021-01-07 06:10] hacatu opened #214 "Wrap known prime numbers"
Currently, as far as I can tell there is no way to use externally sourced prime numbers.  If I use `primesieve` or some other method to make a bunch of prime numbers, but then I want to call `sqrtsModPrime` or one of its related functions, I cannot do this unless I wrap the number in `Just $ isPrime p` or something like that.

Why?

Just exposing the type constructor would allow users to circumven

[2021-02-25 16:46] ensj opened #216 "Partial Factorization Algorithm"
Hello, I'm not sure if this is the right place to ask this, or if this is in the right format. Please let me know if I'm doing something wrong!

I was trying to create a modified version of ECM using functions from this package, like `montgomeryFactorisation` in `Math.NumberTheory.Primes.Factorisation.Montgomery`. The compiler let me know that this was a hidden module though, and thus I couldn't u

[2021-02-25 20:21] #216 closed

[2021-05-29 21:05] noughtmare opened #217 "Investigate pollard's algorithm for factorising primes between 2^32 and 2^64"
I just wrote a very simple naive Pollard rho algorithm for prime factorisation (not even Brent's improvement) and it turns out to beat arithmoi's `factorise` function for composite numbers around 2^33, the difference in performance becomes even larger if I filter out composites whose smallest prime factor is at least 2^16. Here's my implementation and benchmark:

[code]

Results without filtering

[2022-02-12 07:26] Javran opened #219 "Reason behind Math.NumberTheory.Powers.Modular deprecation?"
I see the module is deprecated in https://github.com/Bodigrim/arithmoi/commit/77e70a15456a461271412b8bccd672623389f090 but I'm not really sure about the rationale, nor do I find any migration guide on this.

Tell me if I'm not using `Data.Mod.Word` right, but it becomes painfully verbose when `m` is only available at runtime, for example `powModWod` becomes this:

[code]

Not to mention language p